	.mainContent{
 		width: 90%;
 		margin: auto;
 	}
 	.left{
 		margin-top: 50px;
 		width: 20%;
 		height: 200px;
 		float: left;
 		text-align: center;
 		padding-top: 20px;
 	}
 	.left_img{
 		width: 70%;
 		height: 100px;
 		background-color: #F0F0F0;
 		margin-left: 15%;
 		border: 2px #00A372 solid;
 	}
 	.left_img img{
 		margin-top: 40px;
 		height: 20px;
 	}
 	.left_plus{
 		width: 70%;
 		height: 100px;
 		background-color: #FFFFFF;
 		margin-left: 15%;
 		border: 1px #00A372 dashed;
 		border-top: hidden;
 	}
 	.left_plus i{
 		font-size: 50px;
 		margin-top: 25px;
 		color: lightgray;
 	}
 	p{
 		font-weight: 600;
 		font-size: 18px;
 	}
 	.middle{
 		margin-top: 50px;
 		width: 60%;
 		/*height: 800px;*/
 		background-color: #FFFFFF;
 		border: 1px #E9ECF1 solid;
 		border-bottom-right-radius: 10px;
 		border-bottom-left-radius: 10px;
 		float: left;
 	}
 	.middle_btn{
 		width: 80%;
 		clear: both;
 	}
 	.middle_btn .el-button{
 		margin: 20px;
 		margin-right: 0px;
 	}
 	.middle_top{
 		
 		padding-bottom: 20px;
 		border-bottom: 1px #E9ECF1 solid;
 	}
 	.middle_mid{
 		/*height: 400px;*/
 		border-bottom: 1px #E9ECF1 solid;
 	}
 	.middle_mid,.middle_bottom{
 		padding: 20px 50px 20px 50px;
 	}
 	.right{
 		margin-top: 50px;
 		width: 20%;
 		float: left;
 		text-align: center;
 		background-color: #FFFFFF;
 		height: 250px;
 		border-top: 1px solid #E9ECF1;
 		border-bottom: 1px solid #E9ECF1;
 		border-right: 1px solid #E9ECF1;
 		border-top-right-radius: 5px;
 		border-bottom-right-radius: 5px;
 		padding-top: 20px;
 	}
 	.right>.el-button{
 		width: 60%;
 		border-radius: 0px;
 		background-color: #FFFFFF;
 	}
 	.el-button+.el-button {
	    margin-left: 0px;
	}
	.el-input__inner {
	    border: 0px solid #dcdfe6;
	    border-bottom: 1px solid #DCDFE6;
	    border-radius: 0px;
	}
	.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner,.el-radio__input.is-checked .el-radio__inner {
	    background-color: #00A372;
	    border-color: #00A372;
	}
	.el-checkbox__input.is-checked+.el-checkbox__label,.el-radio__input.is-checked+.el-radio__label {
	    color: #00A372;
	}
	.el-table th{
		background-color: #FFFFFF;
	}
	.dialogVoiceTable{
		border-collapse: separate;
		border-spacing: 10px;
	}
	.dialogVoiceTd{
		width: 20%;
	}
	.dialogVoiceTdC{
		border: 1px solid #A9A9A9;
		position: relative;
		border-radius: 5px;
		/*new*/
		display: inline-block;
		margin-top: 2%;
		width: 20%;
		/*display: flex;
		justify-content: center;
		align-items: center;*/
	}
	.dialogVoiceTdI{
		width: 100%;
		height: auto;
		max-height: 125px;
	}
	.dialogVoiceTdF{
		text-align: center;
		background-color: #D3D3D3;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	
	
	.dialogVideoTable{
		border-collapse: separate;
		border-spacing: 10px;
	}
	.dialogVideoTd{
		width: 50%;
	}
	.dialogVideoTdC{
		border: 1px solid #A9A9A9;
		padding: 15px;
		position: relative;
		border-radius: 5px;
		/*new*/
		display: inline-block;
		margin-top: 2%;
		width: 50%;
	}
	.dialogVideoTdI{
		width: 100%;	
  	}
	.dialogVideoTdF{
        color: #A9A9A9;
	}
	.dialogVideoTdT{
		color: #A9A9A9;
	}
	.dialogPosition{
		height: 26.5%;
		width: 26.5%;
		background: #00A372;
		position: absolute;
		bottom: 19.6%;
		opacity: 0;
		text-align: center;
	}
	.dialogPosition:hover{
		opacity: 0.7;
	}
	.dialogVideoPosition{
		height: 100%;
		width: 100%;
		background: #00A372;
		position: absolute;
		bottom: 0px;
		opacity: 0;
		text-align: center;
		border-radius: 5px;
		left: 0px;
	}
	
	.dialogVideoPosition:hover{
		opacity: 0.7;
	}
	.dialogVideoPosition:focus{
		opacity: 0.7;
	}
	.dialogVoicePosition{
		height: 100%;
		width: 100%;
		background: #00A372;
		position: absolute;
		bottom: 0px;
		opacity: 0;
		text-align: center;
		border-radius: 5px;
	}
	.checkedItem{
		opacity:0.7;
	}
	.dialogVoicePosition:hover{
		opacity: 0.7;
	}
	.dialogVoicePositionButton{
		height: 155px;
		width: calc((100% - 110px) / 5);
		background: #00A372;
		position: absolute;
		bottom: 21.2%;
		opacity: 0;
		text-align: center;
	}
	.dialogVoicePositionButton:hover{
		opacity: 0.7;
	}
	.ButtonA{
		width: 150px !important;
 		margin-top: 0px !important;
	}
	.el-button--primary{
	border: 0px;
	color: #FFFFFF;
	background-color: #00A372;
	}
	.el-button--primary:hover{
		border: 0px;
		color: #FFFFFF;
		background-color: #67c23a;
	}
	.el-button--primary:focus{
		border: 0px;
		color: #FFFFFF;
		background-color: #00A372;
	}
	.w-e-menu{
		z-index: 101 !important;
	}
	.w-e-text-container{
		z-index: 100 !important;
	}
	.w-e-text{
		height: 0px !important;
	}
	.w-e-text-container{
		height: 0px !important;
	}
	.middle_top{
		padding-bottom: 0px !important;
    }
    
    div.el-form-item:first-child {
	    margin-bottom: 35px;
	}
	.el-form-item--mini.el-form-item{
	    margin-bottom: 55px;
	}
	div.el-form-item:nth-child(4){
		margin-bottom: 0px;
	}
	div.el-form-item:nth-child(5){
		margin-bottom: 0px;
	}
	div.el-form-item:nth-child(6){
		margin-bottom: 0px;
	}
	div.el-form-item:nth-child(7){
		margin-bottom: 0px;
	}
	.el-form-item__content{
		margin-left: 0px !important;
	}
	
	.dialogVoiceTdImg{
		/*height: 130px;*/
		height: 100%;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.dialogVoicePositionImg{
		width:30%;
		position: relative;
		top: 35%;
	}
	.dialogVideoPositionImg{
		width:30%;
		position: relative;
		top: 35%;
	}
