<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>首页</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="src/css/frame.css" />
	<link rel="stylesheet" type="text/css" href="src/css/index.css"/>
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					        <!--<a class="navbar-brand" href="#">Deloitte</a>-->
					        <img src="src/images/logo.png" />
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="src/images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="active">
									<a href="index.html"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="src/components/Fans/FansFollow.html"><span class="glyphicon glyphicon-heart"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="src/components/Member/MemberList.html"><span class="glyphicon glyphicon-tower"></span><br />会员</a>
								</li>
								<li class="">
									<a href="src/components/Report/fansReport.html"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li>
									<a href="src/components/hold-all/toolBox.html"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main style="padding: 0;">
		    	<div class="top">
		    		<div class="item1">
		    			<img src="src/images/item3.png" />
		    			<div>
		    				<span class="num">32654</span><br /><span class="word">粉丝总数量</span>
		    			</div>
		    		</div>
		    		<div class="item2">
		    			<img src="src/images/item2.png" />
		    			<div>
		    				<span class="num">3241</span><br /><span class="word">30日新增粉丝数量</span>
		    			</div>
		    		</div>
		    		<div class="item3">
		    			<img src="src/images/item1.png" />
		    			<div>
		    				<span class="num">236</span><br /><span class="word">最近消息</span>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="medium" style="padding: 40px;">
		    		<div style="float: left;width: 100%;height: 400px;">
		    			<h2>数据统计</h2>
			    		<div>
		    				<el-button type="success" v-bind:autofocus="true" plain>新增粉丝</el-button>
		    				<el-button type="success" plain>取消关注</el-button>
		    				<el-button type="success" plain>净增人数</el-button>
		    				<el-button type="success" plain>累计人数</el-button>
		    				  <el-select v-model="value" placeholder="请选择" class="el-select">
							    <el-option
							      v-for="item in options"
							      :key="item.value"
							      :label="item.label"
							      :value="item.value">
							    </el-option>
							  </el-select>
		    			</div>
		    			<div id="chartmain" style="width:100%; height: 280px;"></div>
		    		</div>
		    		<div style="float: left;width: 40%;height: 350px;">
		    			<h2 >审批</h2>
		    			<div id="chartmain2" style="width:100%; height: 280px;"></div>
		    		</div>
		    		<div style="float: left;width: 60%;height: 350px;">
		    			<h2 >互动数量
		    			    <el-select v-model="value1" placeholder="请选择" class="el-select">
							    <el-option
							      v-for="item in options"
							      :key="item.value"
							      :label="item.label"
							      :value="item.value">
							    </el-option>
							</el-select>
		    			</h2>
		    			<div id="chartmain3" style="width:100%; height: 280px;"></div>
		    		</div>
		    	</div>
		    	<div class="footer" style="padding: 40px;">
		    		<div>
						<div class="list_left">
							<div>
								<h2>最近发送</h2>
								<hr class="hr"/>
							</div>
							<div>
								<div class="list_content" style="width:100%">
			            			<div style="width:35%"><img src="src/images/TIM20180123164334.png" class="image"></div>
			            			<div style="width:40%" class="list_padding">
			            				<span class="title_font">文章标题</span><br />
			            				<span class="content_font">发送内容信息</span>
			            			</div>
			            			<div style="width:20%" class="list_padding">
			            				<span class="date_font">2017-12-25</span>
			            			</div>
			        			</div>
			        			<hr class="content_hr" />
			        			<div class="list_content" style="width:100%">
			            			<div style="width:35%"><img src="src/images/TIM20180123164342.png" class="image"></div>
			            			<div style="width:40%" class="list_padding">
			            				<span class="title_font">文章标题</span><br />
			            				<span class="content_font">发送内容信息</span>
			            			</div>
			            			<div style="width:20%" class="list_padding">
			            				<span class="date_font">2017-12-25</span>
			            			</div>
			        			</div>
			        			<hr class="content_hr" />
			        			<div class="list_content" style="width:100%">
			            			<div style="width:35%"><img src="src/images/TIM20180123164345.png" class="image"></div>
			            			<div style="width:40%" class="list_padding">
			            				<span class="title_font">文章标题</span><br />
			            				<span class="content_font">发送内容信息</span>
			            			</div>
			            			<div style="width:20%" class="list_padding">
			            				<span class="date_font">2017-12-25</span>
			            			</div>
			        			</div>
							</div>
						</div>
						<div class="list_right">
							<div>
								<h2>最近编辑</h2>
								<hr class="hr"/>
							</div>
							<div>
								<div class="list_content" style="width:100%">
			            			<div style="width:35%"><img src="src/images/TIM20180123164334.png" class="image"></div>
			            			<div style="width:40%" class="list_padding">
			            				<span class="title_font">文章标题</span><br />
			            				<span class="content_font">发送内容信息</span>
			            			</div>
			            			<div style="width:20%" class="list_padding">
			            				<span class="date_font">2017-12-25</span>
			            			</div>
			        		    </div>
							</div>
							<!--<button class="_button">新建群发</button>-->
							<el-button class="newSend" type="success" icon="el-icon-edit">新建群发</el-button>
						</div>
					</div>
		    	</div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--引入echarts-->
  <script type="text/javascript" src="src/js/echarts.common.min.js" ></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
        	options: [{
	          value: '选项1',
	          label: '最近1天'
	        }, {
	          value: '选项2',
	          label: '最近3天'
	        }, {
	          value: '选项3',
	          label: '最近5天'
	        }, {
	          value: '选项4',
	          label: '最近一周'
	        }, {
	          value: '选项5',
	          label: '最近10天'
	        }],
	        value: '',
	        value1:''
	      };
	    },
	    methods: {
			
     	}
    })
 </script>
 <script type="text/javascript">
        //指定图标的配置和数据
        var option = {
		    tooltip: {
		        trigger: 'item',
		        formatter: "{a} <br/>{b}: {c} ({d}%)"
		    },
		    legend: {
                x: 'center',
        		y:'top',
		        data:['已审批','未审批']
		    },
		    series: [
		        {
		            name:'访问来源',
		            type:'pie',
		            radius: ['50%', '60%'],
		            avoidLabelOverlap: false,
		            label: {
		                normal: {
		                    show: false,
		                    position: 'center'
		                },
		                emphasis: {
		                    show: true,
		                    textStyle: {
		                        fontSize: '30',
		                        fontWeight: 'bold'
		                    }
		                }
		            },
		            labelLine: {
		                normal: {
		                    show: false
		                }
		            },
		            data:[
		                {value:30, name:'已审批'},
		                {value:70, name:'未审批'}
		            ]
		        }
		    ]
		};
		
		var option1 = {
		    xAxis: {
		        type: 'category',
		        boundaryGap: true,
		        min:0,
		        max:7,
		        data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日',]
		    },
		    yAxis: {
		        type: 'value'
		    },
		    series: [{
		        data: [4900, 5200, 12000, 18004, 13000, 19000, 5400,3000],
		        type: 'line',
		        areaStyle: {
		        },
		        smooth:true,
		    }]
		};
		
        //初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('chartmain2'));

        //使用制定的配置项和数据显示图表
        myChart2.setOption(option);
        
        var myChart1 = echarts.init(document.getElementById('chartmain3'));

        //使用制定的配置项和数据显示图表
        myChart1.setOption(option1);

        var myChart = echarts.init(document.getElementById('chartmain'));
        myChart.setOption(option1);
   </script>
</html>
