<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>消息</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					    	<img src="../../images/logo.png" />
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="../../../index.html"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="msg.html"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="../Fans/FansFollow.html"><span class="glyphicon glyphicon-user"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="../Member/MemberList.html"><span class="glyphicon glyphicon-tower"></span><br />会员</a>
								</li>
								<li class="">
									<a href="../Report/fansReport.html"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li>
									<a href="../hold-all/toolBox.html"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="content">
		    		<el-tabs v-model="activeName">
				    	<el-tab-pane label="素材管理" name="first">
				    		<div class='MaterialMain'>
				    			<template>
									  <el-tabs v-model="activenumber" type="card">
									    <el-tab-pane label="图文消息" name="first">
									    	<div class="MaterialVideoMain">
									    		<div class="MaterialVideoHead">
									    			<div class="MaterialVideoFont">图文消息(共7条)</div>
									    			<el-button type="success" class="MaterialVideoButton">新建图文素材</el-button>
									    			<el-input style="width:15%;float: right;" suffix-icon="el-icon-search" v-model="input" placeholder="标题"></el-input>
									    		</div>
									    		<div class="MaterialContent">
									    			<div class="MaterialContentA">
									    				<div class="MaterialContentAAA">
									    					<div class="MaterialContentAAMain">
									    						<img class="MaterialContentAAImamge" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialContentACA">
									    							<div class="MaterialContentAAContent"><span>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</span></div>
									    							<img class="MaterialContentAAImg" src="../../images/MsgMaterialContent1.png" />
									    						</div>
									    						<div class="MaterialContentACA">
									    							<div class="MaterialContentAAContent"><span>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</span></div>
									    							<img class="MaterialContentAAImg" src="../../images/MsgMaterialContent1.png" />
									    						</div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsC">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													     </div>
									    				</div>
									    				<div class="MaterialContentAAC">
									    					<div class="MaterialContentAAMain">
									    						<div class="MaterialContentABC"><span>文字描述</span></div>
									    						<img class="MaterialContentAAImamge" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialContentACA"><span>文字描述</span></div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsD">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    			</div>
									    			<div class="MaterialContentB">
									    				<div class="MaterialContentAA">
									    					<div class="MaterialContentAAMain">
									    						<div class="MaterialContentABC"><span>文字描述</span></div>
									    						<div class="MaterialContentACA"><span>文字描述</span></div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsE">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    				<div class="MaterialContentAA">
									    					<div class="MaterialContentAAMain">
									    						<div class="MaterialContentABC"><span>文字描述</span></div>
									    						<img class="MaterialContentAAImamgeA" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsC">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    				<div class="MaterialContentAAC">
									    					<div class="MaterialContentAAMain">
									    						<div class="MaterialContentABC"><span>文字描述</span></div>
									    						<img class="MaterialContentAAImamge" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialContentACA"><span>文字描述</span></div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsD">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    			</div>
									    			<div class="MaterialContentC">
                              <div class="MaterialContentAAC">
									    					<div class="MaterialContentAAMain">
									    						<div class="MaterialContentABC"><span>文字描述</span></div>
									    						<img class="MaterialContentAAImamge" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialContentACA"><span>文字描述</span></div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsF">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    				<div class="MaterialContentAAA">
									    					<div class="MaterialContentAAMain">
									    						<img class="MaterialContentAAImamgeB" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialGroupsH">这是标题</div>
									    						<div class="MaterialContentACA">
									    							<div class="MaterialContentAAContent"><span>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</span></div>
									    							<img class="MaterialContentAAImg" src="../../images/MsgMaterialContent1.png" />
									    						</div>
									    						<div class="MaterialContentACA">
									    							<div class="MaterialContentAAContent"><span>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</span></div>
									    							<img class="MaterialContentAAImg" src="../../images/MsgMaterialContent1.png" />
									    						</div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsD">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    			</div>
									    		</div>
												</div>
									    </el-tab-pane>
									    <el-tab-pane label="图片" name="second">
									    	<div class="MaterialVideoMain">
									    		<div class="MaterialVideoHead">
									    			<div class="MaterialVideoFont">图片(共3条)</div>
									    			<el-button type="success" class="MaterialVideoButton">上传</el-button>
									    		</div>
									    		<div>
									    			<el-row>
														  <el-col :span="8" style="text-align: left;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroups">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIcon" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue" class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: center">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsA">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconA" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: right;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsB">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconB" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														</el-row>
														<el-row>
														  <el-col :span="8" style="text-align: left;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroups">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIcon" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: center">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsA">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconA" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: right;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsB">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconB" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														</el-row>
														<el-row>
														  <el-col :span="8" style="text-align: left;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroups">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIcon" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: center">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsA">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconA" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: right;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsB">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconB" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														</el-row>
									    		</div>
									    	</div>
									    </el-tab-pane>
									    <el-tab-pane label="语音" name="third">
									    	<div class="MaterialVideoMain">
									    		<div class="MaterialVideoHead">
									    			<div class="MaterialVideoFont">语音(共3条)</div>
									    			<el-button type="success" class="MaterialVideoButton" @click="dialogVisibleA = true">添加</el-button>
									    			<el-dialog title="提示" :visible.sync="dialogVisibleA" width="30%">
														  <div class="MaterialInputA">
														  	<div class="MaterialInputB">标题</div>
														  	<el-input class="MaterialInputC" v-model="input" placeholder="请输入内容"></el-input>
														  </div>
														  <div class="MaterialInputA">
														  	<div class="MaterialInputE">上传语音</div>
														  	<el-button class="MaterialInputD">上传语音</el-button>
														  </div>
														  <span slot="footer" class="dialog-footer">
														    <el-button @click="dialogVisibleA = false">取 消</el-button>
														    <el-button type="primary" @click="dialogVisibleA = false">确 定</el-button>
														  </span>
														</el-dialog>
									    		</div>
									    		<div>
									    			<template>
														  <el-table :data="tableData1">
														    <el-table-column label="名称">
														    	<template slot-scope="scope">
															      <div class="MaterialVideoImg">
															      	<img class="MaterialVoiceImg" :src="scope.row.VoiceImg">{{scope.row.number}}
														    		</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="时长">
														    	<template slot-scope="scope">
														      	<div>{{scope.row.duration}}</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="创建时间">
														    	<template slot-scope="scope">
														      	<div>{{scope.row.time}}</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="操作">
														    	<template slot-scope="scope">
														    		<a href="#" class="MaterialVideoIcon">
														    			<img src="../../images/tool/edit.png" style="width: 20px;" />
														    		</a>
														    		<a href="#">
														    			<img src="../../images/MsgMaterialVideo4.png" style="width: 20px;" />
														    		</a>
														     </template>	
														    </el-table-column>
														  </el-table>
														</template>
									    		</div>
									    	</div>
									    </el-tab-pane>
									    <el-tab-pane label="视频" name="fourth">
									    	<div class="MaterialVideoMain">
									    		<div class="MaterialVideoHead">
									    			<div class="MaterialVideoFont">视频(共3条)</div>
									    			<el-button type="success" class="MaterialVideoButton" @click="dialogVisibleB = true">添加</el-button>
									    			<el-dialog title="提示" :visible.sync="dialogVisibleB" width="30%">
														  <div class="MaterialInputA">
														  	<div class="MaterialInputB">标题</div>
														  	<el-input class="MaterialInputC" v-model="input" placeholder="请输入内容"></el-input>
														  </div>
														  <div class="MaterialInputA">
														  	<div class="MaterialInputE">简介</div>
														  	<el-input class="MaterialInputF"
																  type="textarea"
																  :rows="2"
																  placeholder="请输入内容"
																  v-model="textarea">
																</el-input>
														  </div>
														  <div class="MaterialInputA">
														  	<div class="MaterialInputE">上传视频</div>
                                <div class="MaterialInputG">视频不能超过20M，超过20M的视频可至腾讯视频上传后添加，也可通过添加视频详情页链接以及公众号文章链接插入视频，视频时长不少于1秒，不多于10小时，支持大部分主流视频格式</div>
														  </div>
														  <el-button class="MaterialInputH">上传语音</el-button>
														  <span slot="footer" class="dialog-footer">
														    <el-button @click="dialogVisibleB = false">取 消</el-button>
														    <el-button type="primary" @click="dialogVisibleB = false">确 定</el-button>
														  </span>
														</el-dialog>
									    		</div>
									    		<div>
									    			<template>
														  <el-table :data="tableData1">
														    <el-table-column label="名称">
														    	<template slot-scope="scope">
														    		<div class="MaterialVideoImg">
															    		<img class="MaterialVideoImgStyle" :src="scope.row.img">
														    		</div>
														      </template>
														    </el-table-column>
														    <el-table-column>
														    	<template slot-scope="scope">
															      <div class="MaterialVideoContent">
															      	<div class="MaterialVideoContentA">{{scope.row.number}}</div>
															      	<div class="MaterialVideoContentB">{{scope.row.content}}</div>
														    		</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="状态">
														    	<template slot-scope="scope">
														      	<div class="MaterialVideoState">{{scope.row.state}}</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="创建时间">
														    	<template slot-scope="scope">
														      	<div>{{scope.row.time}}</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="操作">
														    	<template slot-scope="scope">
														    		<a href="#" class="MaterialVideoIcon">
														    			<img src="../../images/tool/edit.png" style="width: 20px;" />
														    		</a>
														    		<a href="#">
														    			<img src="../../images/MsgMaterialVideo4.png" style="width: 20px;" />
														    		</a>
														     </template>	
														    </el-table-column>
														  </el-table>
														</template>
									    		</div>
									    	</div>
									    </el-tab-pane>
									  </el-tabs>
									</template>
				    		</div>
				    	</el-tab-pane>
				    	
				    	<el-tab-pane label="已通过消息" name="second">
				    		<el-tabs type="border-card" v-model="activenumber">
							  <el-tab-pane label="编辑已通过" name="first">用户管理</el-tab-pane>
							  <el-tab-pane label="审批状态" name="second">
							  	<h3>未审批</h3>
							  	<h6>备注描述</h6>
							  	<hr class="hr" />
						  	    <el-table
							      :data="tableData"
							      style="width: 100%"
							      v-bind:show-header="false"
							      >
							      	<el-table-column prop="time" label="时间"></el-table-column>
						    		<el-table-column prop="image">
							    	<template slot-scope="scope">
								      <img  :src="scope.row.image" class="UmImage">
								    </template>
							    	</el-table-column>
							    	<el-table-column prop="content" label="内容"></el-table-column>
							    	<el-table-column prop="mark" label="备注"></el-table-column>
							    </el-table>
							    
							    <h3 style="color: #00A372;">审批通过</h3>
							    <h6>备注描述</h6>
							  	<hr class="hr" />
						  	    <el-table
							      :data="tableData"
							      style="width: 100%"
							      v-bind:show-header="false"
							      >
							      	<el-table-column prop="time" label="时间"></el-table-column>
						    		<el-table-column prop="image">
							    	<template slot-scope="scope">
								      <img  :src="scope.row.image" class="UmImage">
								    </template>
							    	</el-table-column>
							    	<el-table-column prop="content" label="内容"></el-table-column>
							    	<el-table-column prop="mark" label="备注"></el-table-column>
							    </el-table>
							    
							    <h3 style="color: #CD0000;">审批未通过</h3>
							  	<h6>备注描述</h6>
							  	<hr class="hr" />
						  	    <el-table
							      :data="tableData"
							      style="width: 100%"
							      v-bind:show-header="false"
							      >
							      	<el-table-column prop="time" label="时间"></el-table-column>
						    		<el-table-column prop="image">
							    	<template slot-scope="scope">
								      <img  :src="scope.row.image" class="UmImage">
								    </template>
							    	</el-table-column>
							    	<el-table-column prop="content" label="内容"></el-table-column>
							    	<el-table-column prop="mark" label="备注"></el-table-column>
							    </el-table>
							  </el-tab-pane>
							  <el-tab-pane label="待发送" name="third">
							  	<h3>待发送</h3>
							  	<hr class="hr" />
						  	    <el-table
							      :data="tableData"
							      style="width: 100%"
							      v-bind:show-header="false"
							      >
							      	<el-table-column prop="time" label="时间"></el-table-column>
						    		<el-table-column prop="image">
							    	<template slot-scope="scope">
								      <img  :src="scope.row.image" class="UmImage">
								    </template>
							    	</el-table-column>
							    	<el-table-column prop="content" label="内容"></el-table-column>
							    	<el-table-column prop="mark" label="备注"></el-table-column>
							    </el-table>
							  </el-tab-pane>
							</el-tabs>
				    	</el-tab-pane>
				    	<el-tab-pane label="已通过历史" name="third">
				    		
				    		<el-input placeholder="请输入内容" style="width: 200px;float: right;margin-bottom: 20px;" v-model="input5" class="input-with-select">
							    <el-button slot="append" icon="el-icon-search"></el-button>
							</el-input>
							
							<el-table :data="tableData" stripe style="width: 100%">
								<el-table-column prop="time" label="时间"></el-table-column>
							    <el-table-column prop="image">
							    	<template slot-scope="scope">
								      <img  :src="scope.row.image" class="UmImage">
								    </template>
							    </el-table-column>
							    <el-table-column prop="content" label="内容"></el-table-column>
							    <el-table-column prop="mark" label="备注"></el-table-column>
							</el-table>
							
				    	</el-tab-pane>
				    		
				    </el-tabs>
				</div>    		
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
        	activeName:'second',
        	activenumber:'second',
        	input5: '',
        	tableData: [{
	          image: '../../images/TIM20180123164334.png',
	          content: '内容内容内容内容内容内容内容内容内容内容内容',
	          mark:'备注备注备注备注备注备注备注备注备注备注备注',
	          time: '2017-12-25'
	        }, {
	          image: '../../images/TIM20180123164334.png',
	          content: '内容内容内容内容内容内容内容内容内容内容内容',
	          mark:'备注备注备注备注备注备注备注备注备注备注备注',
	          time: '2017-12-25'
	        }, {
	          image: '../../images/TIM20180123164334.png',
	          content: '内容内容内容内容内容内容内容内容内容内容内容',
	          mark:'备注备注备注备注备注备注备注备注备注备注备注',
	          time: '2017-12-25'
	        }, {
	          image: '../../images/TIM20180123164334.png',
	          content: '内容内容内容内容内容内容内容内容内容内容内容',
	          mark:'备注备注备注备注备注备注备注备注备注备注备注',
	          time: '2017-12-25'
	        }],
	        //开始
	        dialogVisibleA: false,
	        dialogVisibleB: false,
	        textarea: '',
	        activenumber: 'first',
	        input1: '',
	        tableData1: [{
	          time: '2017年12月26日',
	          img: '../../images/MsgMaterialVideo1.png',
	          content: '视频描述描述描述描述描述',
	          number: '1234567890-',
	          state: '已通过',
	          handle: '',
	          duration: '00:16',
	          VoiceImg: '../../images/MsgMaterVoice1.png',
	        }, {
	          time: '2017年12月26日',
	          img: '../../images/MsgMaterialVideo2.png',
	          content: '视频描述描述描述描述描述',
	          number: '1234567890-',
	          state: '已通过',
	          handle: '',
	          duration: '00:16',
	          VoiceImg: '../../images/MsgMaterVoice1.png',
	        }, {
	          time: '2017年12月26日',
	          img: '../../images/MsgMaterialVideo3.png',
	          content: '视频描述描述描述描述描述',
	          number: '1234567890-',
	          state: '已通过',
	          handle: '',
	          duration: '00:16',
	          VoiceImg: '../../images/MsgMaterVoice1.png',
	        }],
	        //结束
	      };
	    },
	    methods: {
			
     	}
    })
 </script>
 <link rel="stylesheet" href="msg-li.css" />
 <style>
 	
 	.content{
 		width: 90%;
 		margin: auto;
 	}
 	
	/*小选项卡*/
	.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #00A372;
	}
	.el-tabs--border-card>.el-tabs__header .el-tabs__item:hover {
    color: #00A372;
	}
	/*大选项卡*/
	.el-tabs__item.is-active {
	    color: #00A372;
	}
	.el-tabs__item:hover {
    color: #00A372;
	}
	.el-tabs__active-bar{
		background-color: #00A372;
	}
 	.el-table thead{
 		color: #1F3A50;
 		text-align: center;
 	}
 	.el-table th{
 		background-color: #D3D3D3;
 		text-align: center;
 	}
 	.el-table--enable-row-transition .el-table__body td {
    	text-align: center;
	}
	h6{
		color: lightgray;
	}
 </style>
</html>
