<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>消息-普通级别</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
	<link rel="stylesheet" type="text/css" href="../../css/msg/msg.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/msg/msg-li.css"/>
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					    	<img src="../../images/logo.png" />
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="../../../index.html"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="msg.html"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="../Fans/FansFollow.html"><span class="glyphicon glyphicon-user"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="../Member/MemberList.html"><span class="glyphicon glyphicon-tower"></span><br />会员</a>
								</li>
								<li class="">
									<a href="../Report/fansReport.html"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li>
									<a href="../hold-all/toolBox.html"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="content">
		    		<el-tabs v-model="activeName">
				    	<el-tab-pane label="素材管理" name="first">
				    		<div class='MaterialMain'>
				    			<template>
									  <el-tabs v-model="activenumber" type="card">
									    <el-tab-pane label="图文消息" name="first">
									    	<div class="MaterialVideoMain">
									    		<div class="MaterialVideoHead">
									    			<div class="MaterialVideoFont">图文消息(共7条)</div>
									    			<el-button type="success" class="MaterialVideoButton">新建图文素材</el-button>
									    			<el-input style="width:15%;float: right;" suffix-icon="el-icon-search" v-model="input" placeholder="标题"></el-input>
									    		</div>
									    		<div class="MaterialContent">
									    			<div class="MaterialContentA">
									    				<div class="MaterialContentAAA">
									    					<div class="MaterialContentAAMain">
									    						<img class="MaterialContentAAImamge" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialContentACA">
									    							<div class="MaterialContentAAContent"><span>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</span></div>
									    							<img class="MaterialContentAAImg" src="../../images/MsgMaterialContent1.png" />
									    						</div>
									    						<div class="MaterialContentACA">
									    							<div class="MaterialContentAAContent"><span>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</span></div>
									    							<img class="MaterialContentAAImg" src="../../images/MsgMaterialContent1.png" />
									    						</div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsC">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													     </div>
									    				</div>
									    				<div class="MaterialContentAAC">
									    					<div class="MaterialContentAAMain">
									    						<div class="MaterialContentABC"><span>文字描述</span></div>
									    						<img class="MaterialContentAAImamge" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialContentACA"><span>文字描述</span></div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsD">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    			</div>
									    			<div class="MaterialContentB">
									    				<div class="MaterialContentAA">
									    					<div class="MaterialContentAAMain">
									    						<div class="MaterialContentABC"><span>文字描述</span></div>
									    						<div class="MaterialContentACA"><span>文字描述</span></div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsE">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    				<div class="MaterialContentAA">
									    					<div class="MaterialContentAAMain">
									    						<div class="MaterialContentABC"><span>文字描述</span></div>
									    						<img class="MaterialContentAAImamgeA" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsC">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    				<div class="MaterialContentAAC">
									    					<div class="MaterialContentAAMain">
									    						<div class="MaterialContentABC"><span>文字描述</span></div>
									    						<img class="MaterialContentAAImamge" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialContentACA"><span>文字描述</span></div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsD">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    			</div>
									    			<div class="MaterialContentC">
                              <div class="MaterialContentAAC">
									    					<div class="MaterialContentAAMain">
									    						<div class="MaterialContentABC"><span>文字描述</span></div>
									    						<img class="MaterialContentAAImamge" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialContentACA"><span>文字描述</span></div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsF">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    				<div class="MaterialContentAAA">
									    					<div class="MaterialContentAAMain">
									    						<img class="MaterialContentAAImamgeB" src="../../images/MsgMaterialVideo1.png" />
									    						<div class="MaterialGroupsH">这是标题</div>
									    						<div class="MaterialContentACA">
									    							<div class="MaterialContentAAContent"><span>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</span></div>
									    							<img class="MaterialContentAAImg" src="../../images/MsgMaterialContent1.png" />
									    						</div>
									    						<div class="MaterialContentACA">
									    							<div class="MaterialContentAAContent"><span>文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述</span></div>
									    							<img class="MaterialContentAAImg" src="../../images/MsgMaterialContent1.png" />
									    						</div>
									    						<div class="MaterialContentAC"><span>2017-12-26</span></div>
									    					</div>
									    					<div class="MaterialGroupsD">
									    						<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/tool/edit.png" class="MaterialGroupsIconZ" />
														    	</a>
													      	<a href="#" class="MaterialGroupsIconC">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconY" />
														    	</a>
													      </div>
									    				</div>
									    			</div>
									    		</div>
												</div>
									    </el-tab-pane>
									    <el-tab-pane label="图片" name="second">
									    	<div class="MaterialVideoMain">
									    		<div class="MaterialVideoHead">
									    			<div class="MaterialVideoFont">图片(共3条)</div>
									    			<el-button type="success" class="MaterialVideoButton">上传</el-button>
									    		</div>
									    		<div>
									    			<el-row>
														  <el-col :span="8" style="text-align: left;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroups">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIcon" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue" class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: center">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsA">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconA" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: right;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsB">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconB" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														</el-row>
														<el-row>
														  <el-col :span="8" style="text-align: left;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroups">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIcon" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: center">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsA">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconA" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: right;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsB">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconB" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														</el-row>
														<el-row>
														  <el-col :span="8" style="text-align: left;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroups">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIcon" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: center">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsA">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconA" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														  <el-col :span="8" style="text-align: right;">
														  	<img class="MaterialPictrue1" src="../../images/MsgMaterialVideo2.png">
														  	<div class="MaterialGroupsB">
													      	<a href="#">
														    		<img src="../../images/MsgMaterialVideo4.png" class="MaterialGroupsIconB" />
														    	</a>
													      </div>
														  	<div class="MaterialPictrue">name1</div>
														  </el-col>
														</el-row>
									    		</div>
									    	</div>
									    </el-tab-pane>
									    <el-tab-pane label="语音" name="third">
									    	<div class="MaterialVideoMain">
									    		<div class="MaterialVideoHead">
									    			<div class="MaterialVideoFont">语音(共3条)</div>
									    			<el-button type="success" class="MaterialVideoButton" @click="dialogVisibleA = true">添加</el-button>
									    			<el-dialog title="提示" :visible.sync="dialogVisibleA" width="30%">
														  <div class="MaterialInputA">
														  	<div class="MaterialInputB">标题</div>
														  	<el-input class="MaterialInputC" v-model="input" placeholder="请输入内容"></el-input>
														  </div>
														  <div class="MaterialInputA">
														  	<div class="MaterialInputE">上传语音</div>
														  	<el-button class="MaterialInputD">上传语音</el-button>
														  </div>
														  <span slot="footer" class="dialog-footer">
														    <el-button @click="dialogVisibleA = false">取 消</el-button>
														    <el-button type="primary" @click="dialogVisibleA = false">确 定</el-button>
														  </span>
														</el-dialog>
									    		</div>
									    		<div>
									    			<template>
														  <el-table :data="tableData1">
														    <el-table-column label="名称">
														    	<template slot-scope="scope">
															      <div class="MaterialVideoImg">
															      	<img class="MaterialVoiceImg" :src="scope.row.VoiceImg">{{scope.row.number}}
														    		</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="时长">
														    	<template slot-scope="scope">
														      	<div>{{scope.row.duration}}</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="创建时间">
														    	<template slot-scope="scope">
														      	<div>{{scope.row.time}}</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="操作">
														    	<template slot-scope="scope">
														    		<a href="#" class="MaterialVideoIcon">
														    			<img src="../../images/tool/edit.png" style="width: 20px;" />
														    		</a>
														    		<a href="#">
														    			<img src="../../images/MsgMaterialVideo4.png" style="width: 20px;" />
														    		</a>
														     </template>	
														    </el-table-column>
														  </el-table>
														</template>
									    		</div>
									    	</div>
									    </el-tab-pane>
									    <el-tab-pane label="视频" name="fourth">
									    	<div class="MaterialVideoMain">
									    		<div class="MaterialVideoHead">
									    			<div class="MaterialVideoFont">视频(共3条)</div>
									    			<el-button type="success" class="MaterialVideoButton" @click="dialogVisibleB = true">添加</el-button>
									    			<el-dialog title="提示" :visible.sync="dialogVisibleB" width="30%">
														  <div class="MaterialInputA">
														  	<div class="MaterialInputB">标题</div>
														  	<el-input class="MaterialInputC" v-model="input" placeholder="请输入内容"></el-input>
														  </div>
														  <div class="MaterialInputA">
														  	<div class="MaterialInputE">简介</div>
														  	<el-input class="MaterialInputF"
																  type="textarea"
																  :rows="2"
																  placeholder="请输入内容"
																  v-model="textarea">
																</el-input>
														  </div>
														  <div class="MaterialInputA">
														  	<div class="MaterialInputE">上传视频</div>
                                <div class="MaterialInputG">视频不能超过20M，超过20M的视频可至腾讯视频上传后添加，也可通过添加视频详情页链接以及公众号文章链接插入视频，视频时长不少于1秒，不多于10小时，支持大部分主流视频格式</div>
														  </div>
														  <el-button class="MaterialInputH">上传语音</el-button>
														  <span slot="footer" class="dialog-footer">
														    <el-button @click="dialogVisibleB = false">取 消</el-button>
														    <el-button type="primary" @click="dialogVisibleB = false">确 定</el-button>
														  </span>
														</el-dialog>
									    		</div>
									    		<div>
									    			<template>
														  <el-table :data="tableData1">
														    <el-table-column label="名称">
														    	<template slot-scope="scope">
														    		<div class="MaterialVideoImg">
															    		<img class="MaterialVideoImgStyle" :src="scope.row.img">
														    		</div>
														      </template>
														    </el-table-column>
														    <el-table-column>
														    	<template slot-scope="scope">
															      <div class="MaterialVideoContent">
															      	<div class="MaterialVideoContentA">{{scope.row.number}}</div>
															      	<div class="MaterialVideoContentB">{{scope.row.content}}</div>
														    		</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="状态">
														    	<template slot-scope="scope">
														      	<div class="MaterialVideoState">{{scope.row.state}}</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="创建时间">
														    	<template slot-scope="scope">
														      	<div>{{scope.row.time}}</div>
														      </template>
														    </el-table-column>
														    <el-table-column label="操作">
														    	<template slot-scope="scope">
														    		<a href="#" class="MaterialVideoIcon">
														    			<img src="../../images/tool/edit.png" style="width: 20px;" />
														    		</a>
														    		<a href="#">
														    			<img src="../../images/MsgMaterialVideo4.png" style="width: 20px;" />
														    		</a>
														     </template>	
														    </el-table-column>
														  </el-table>
														</template>
									    		</div>
									    	</div>
									    </el-tab-pane>
									  </el-tabs>
									</template>
				    		</div>
				    	</el-tab-pane>
				    	<el-tab-pane label="群发消息" name="second">
				    		<el-tabs type="border-card" v-model="activeName2">
							  <el-tab-pane label="编辑群发" name="first">
							  	<div style="margin:30px 100px 0px 100px;">
										  <el-radio v-model="radio" label="1">全部用户</el-radio>
										  <el-radio v-model="radio" label="2">选择用户</el-radio>
											<hr class="hr" />
										<table style="margin-top:30px">
											<tr>
												<td style="vertical-align:top;width:120px">群发对象</td>
												<td width="610px">
													  <div style="width:100px;float:left;"><el-checkbox>财经</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>动漫</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>儿童</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>搞笑</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>健康</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>教育</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>军事</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>科技</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox >历史</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>旅行</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>汽车</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>情感</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>体育</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>外语</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>文学</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>校园</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>音乐</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>影视</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>游戏</el-checkbox></div>
													  <div style="width:100px;float:left;"><el-checkbox>娱乐</el-checkbox></div>
												</td>
											</tr>
											<tr height="50"></tr>
											<tr>
												<td style="width:120px">性别</td>
												<td>
													<template>
													  <el-radio v-model="radio1" label="1">全部</el-radio>
													  <el-radio v-model="radio1" label="2">男</el-radio>
													  <el-radio v-model="radio1" label="3">女</el-radio>
													</template>
												</td>
											</tr>
											<tr height="30"></tr>
											<tr>
												<td style="width:120px">群发地区</td>
												<td>
														<el-select v-model="value" placeholder="请选择">
													    <el-option
													      v-for="item in options"
													      :key="item.value"
													      :label="item.label"
													      :value="item.value">
													    </el-option>
													  </el-select>
												</td>
											</tr>
											<tr height="30"></tr>
											<tr>
												<td colspan="2">
													<div class="iconDiv">
												  	<a href="#" class="iconDivChild"><i class="glyphicon glyphicon-cloud-upload"></i></a>
												  	<a href="#" class="iconDivChild"><i class="glyphicon glyphicon-pencil"></i></a>
												  	<a href="#" class="iconDivChild"><i class="glyphicon glyphicon-folder-open"></i></a>
												  	<a href="#" class="iconDivChild"><i class="glyphicon glyphicon-filter"></i></a>
												  	<a href="#" class="iconDivChild"><i class="glyphicon glyphicon-facetime-video"></i></a>
													</div>
												</td>
											</tr>
											<tr height="30"></tr>
											<tr>
												<td colspan="2" width="240" class="msg_tr_padding">
													<el-button @click="dialogPreview = true">预览</el-button>
													<el-button type="success">保存并审批</el-button>
												</td>
											</tr>
										</table>
						    	</div>
							  	<el-dialog title="预览" :visible.sync="dialogPreview" width="500px">
							  		<table width="400px" style="margin-left: 25px;">
							  			<tr>
							  				<td colspan="4">
							  					<el-radio v-model="radio4" label="1" @change="UserSelect(radio4)">全部用户</el-radio>
							  					<el-radio v-model="radio4" label="2" @change="UserSelect(radio4)">选择用户</el-radio>
							  				</td>
							  			</tr>
							  			<tr height="20px" v-show="selectUser"></tr>
							  			<tr v-show="selectUser">
							  				<td class="td_title">标签</td>
							  				<td colspan="3">
							  					<el-tag>标签一</el-tag>&nbsp;
							  					<el-tag>标签一</el-tag>&nbsp;
							  					<el-tag>标签一</el-tag>&nbsp;
							  					<el-tag>标签一</el-tag>
							  				</td>
							  			</tr>
							  			<tr height="20px" v-show="selectUser"></tr>
							  			<tr width="240px" v-show="selectUser">
							  				<td class="td_title">性别</td>
							  				<td>全部</td>
							  				<td class="td_title" style="width: 110px;">群发地区</td>
							  				<td>中国</td>
							  			</tr>
							  			<tr height="20px"></tr>
							  			<tr>
							  				<td colspan="4">
							  					<div class="artical">
							  							<a href="#">
												  			<i style="margin: 20px auto 20px 20px;" class="el-icon-tickets">图文</i>
												  		</a>
												  		<a href="#">
												  			<i style="margin: 20px auto 20px 20px;" class="el-icon-edit">文字</i>
												  		</a>
												  		<a href="#">
												  			<i style="margin: 20px auto 20px 20px;" class="el-icon-picture">图片</i>
												  		</a>
												  		<a href="#">
												  			<i style="margin: 20px auto 20px 20px;" class="el-icon-phone">音频</i>
												  		</a>
												  		<a href="#">
												  			<i style="margin: 20px auto 20px 20px;" class="el-icon-view">视频</i>
												  		</a>
							  						<hr style="margin: 0;" />
							  						<div class="artical_content">
							  							<h4>我是标题</h4>
							  							<p>我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文我是正文</p>
							  							<img src="../../images/TIM20180123164334.png" />
							  						</div>
							  					</div>
							  				</td>
							  			</tr>
							  		</table>
									  <div slot="footer" class="dialog-footer" style="padding-top: 0px;">
									    <el-button type="success" @click="dialogPreview = false">关闭</el-button>
									  </div>
									</el-dialog>
							  	
							  </el-tab-pane>
							  <el-tab-pane label="审批状态" name="second">
							  	<h3>未审批</h3>
							  	<h6>备注描述</h6>
							  	<hr class="hr" />
						  	    <el-table
							      :data="tableData"
							      style="width: 100%"
							      v-bind:show-header="false"
							      >
							      <el-table-column prop="time" label="时间">
							      	<template slot-scope="scope">
									      <div>{{scope.row.time}}</div>
									      <div>{{scope.row.mark}}</div>
									    </template>
									  </el-table-column>
						    		<el-table-column prop="image">
							    	<template slot-scope="scope">
								      <img  :src="scope.row.image" class="UmImage">
								    </template>
							    	</el-table-column>
							    	<el-table-column prop="content" label="内容"></el-table-column>
							    </el-table>
							    
							    <h3 style="color: #00A372;margin-top: 40px;">审批通过</h3>
							    <h6>备注描述</h6>
							  	<hr class="hr" />
						  	    <el-table
							      :data="tableData"
							      style="width: 100%"
							      v-bind:show-header="false"
							      >
						      	<el-table-column prop="time" label="时间">
							      	<template slot-scope="scope">
									      <div>{{scope.row.time}}</div>
									      <div>{{scope.row.mark}}</div>
									    </template>
									  </el-table-column>
						    		<el-table-column prop="image">
							    	<template slot-scope="scope">
								      <img  :src="scope.row.image" class="UmImage">
								    </template>
							    	</el-table-column>
							    	<el-table-column prop="content" label="内容"></el-table-column>
							    	<el-table-column label="操作">
								      <template slot-scope="scope">
								        <a href="#"><img style="width: 20px;" src="../../images/tool/send.png" /></a>
								      </template>
								    </el-table-column>
							    </el-table>
							    
							    <h3 style="color: #CD0000;margin-top: 40px;">审批未通过</h3>
							  	<h6>备注描述</h6>
							  	<hr class="hr" />
						  	    <el-table
							      :data="tableData"
							      style="width: 100%"
							      v-bind:show-header="false"
							      >
							      <el-table-column prop="time" label="时间">
							      	<template slot-scope="scope">
									      <div>{{scope.row.time}}</div>
									      <div>{{scope.row.mark}}</div>
									    </template>
									  </el-table-column>
						    		<el-table-column prop="image">
							    	<template slot-scope="scope">
								      <img  :src="scope.row.image" class="UmImage">
								    </template>
							    	</el-table-column>
							    	<el-table-column prop="content" label="内容"></el-table-column>
							    	<el-table-column label="操作">
								      <template slot-scope="scope">
								        <a href="#"><img style="width: 20px;" src="../../images/tool/edit.png" /></a>
								      </template>
								    </el-table-column>
							    </el-table>
							  </el-tab-pane>
							  <el-tab-pane label="待发送" name="third">
							  	<h3>待发送</h3>
							  	<hr class="hr" />
						  	    <el-table
							      :data="tableData"
							      style="width: 100%"
							      v-bind:show-header="false"
							      >
							      <el-table-column prop="time" label="时间">
							      	<template slot-scope="scope">
									      <div>{{scope.row.time}}</div>
									      <div>{{scope.row.mark}}</div>
									    </template>
							      </el-table-column>
						    		<el-table-column prop="image">
								    	<template slot-scope="scope">
									      <img  :src="scope.row.image" class="UmImage">
									    </template>
							    	</el-table-column>
							    	<el-table-column prop="content" label="内容"></el-table-column>
							    </el-table>
							  </el-tab-pane>
							</el-tabs>
				    	</el-tab-pane>
				    	<el-tab-pane label="群发历史" name="third">
				    		
				    		<el-input placeholder="请输入内容" suffix-icon="el-icon-search" style="width: 200px;float: right;margin-bottom: 20px;" v-model="input5" class="input-with-select">
							    
							</el-input>
							
							<el-table :data="tableData" stripe style="width: 100%">
								<el-table-column prop="time" label="时间"></el-table-column>
							    <el-table-column prop="image">
							    	<template slot-scope="scope">
								      <img  :src="scope.row.image" class="UmImage">
								    </template>
							    </el-table-column>
							    <el-table-column prop="content" label="内容"></el-table-column>
							    <el-table-column prop="mark" label="备注"></el-table-column>
							</el-table>
				    </el-tab-pane>
				    </el-tabs>
				</div>    		
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
	      	
	      	//开始
	        dialogVisibleA: false,
	        dialogVisibleB: false,
	        textarea: '',
	        activenumber: 'first',
	        input1: '',
	        input:'',
	        tableData1: [{
	          time: '2017年12月26日',
	          img: '../../images/MsgMaterialVideo1.png',
	          content: '视频描述描述描述描述描述',
	          number: '1234567890-',
	          state: '已通过',
	          handle: '',
	          duration: '00:16',
	          VoiceImg: '../../images/MsgMaterVoice1.png',
	        }, {
	          time: '2017年12月26日',
	          img: '../../images/MsgMaterialVideo2.png',
	          content: '视频描述描述描述描述描述',
	          number: '1234567890-',
	          state: '已通过',
	          handle: '',
	          duration: '00:16',
	          VoiceImg: '../../images/MsgMaterVoice1.png',
	        }, {
	          time: '2017年12月26日',
	          img: '../../images/MsgMaterialVideo3.png',
	          content: '视频描述描述描述描述描述',
	          number: '1234567890-',
	          state: '已通过',
	          handle: '',
	          duration: '00:16',
	          VoiceImg: '../../images/MsgMaterVoice1.png',
	        }],
	        //结束
	      	
	      	dialogPreview: false,
	      	selectUser:false,
	      	radio4:'1',
	      	pickerOptions1: {
          	shortcuts: [{
	            text: '今天',
	            onClick(picker) {
	              picker.$emit('pick', new Date());
	            }
	          }, {
	            text: '昨天',
	            onClick(picker) {
	              const date = new Date();
	              date.setTime(date.getTime() - 3600 * 1000 * 24);
	              picker.$emit('pick', date);
	            }
	          }, {
	            text: '一周前',
	            onClick(picker) {
	              const date = new Date();
	              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
	              picker.$emit('pick', date);
	            }
	          }]
	        },
	        value2: '',
        	activeName:'first',
        	activeName2:'first',
        	checked:'',
        	radio:'',
        	radio1:'',
        	radio2:'',
        	options: [{
	          value: '选项1',
	          label: '地区1'
	        }, {
	          value: '选项2',
	          label: '地区2'
	        }, {
	          value: '选项3',
	          label: '地区3'
	        }, {
	          value: '选项4',
	          label: '地区4'
	        }, {
	          value: '选项5',
	          label: '地区5'
	        }],
	        value: '',
        	input5: '',
        	tableData: [{
	          image: '../../images/TIM20180123164334.png',
	          content: '内容内容内容内容内容内容内容内容内容内容内容',
	          mark:'备注备注备注备注备注',
	          time: '2017-12-25'
	        }, {
	          image: '../../images/TIM20180123164334.png',
	          content: '内容内容内容内容内容内容内容内容内容内容内容',
	          mark:'备注备注备注备注备注',
	          time: '2017-12-25'
	        }, {
	          image: '../../images/TIM20180123164334.png',
	          content: '内容内容内容内容内容内容内容内容内容内容内容',
	          mark:'备注备注备注备注备注',
	          time: '2017-12-25'
	        }, {
	          image: '../../images/TIM20180123164334.png',
	          content: '内容内容内容内容内容内容内容内容内容内容内容',
	          mark:'备注备注备注备注备注',
	          time: '2017-12-25'
	        }],
	        //XXX开始
	        
	        //XXX结束
	      };
	    },
	    methods: {
				UserSelect(index){
        	if(index == 1){
        		this.selectUser = false;
        	}else if(index == 2){
        		this.selectUser = true;
        	}
        }
     	}
    })
 </script>
</html>
