body{
  		background-color: #F7F7F7;
  	}
  	.AuMain{
  		width: 90%;
  		margin: auto;
  	}
  	.divAbout{
  		width: 100%;
  		background-color: darkblue;
  	}
  	.AuForm{
  		width: 100%;
  		margin: auto;
  	}
	.el-tabs__content {
	    display: none;
	}
	.el-radio__input.is-checked .el-radio__inner {
	    border-color: #00A372;
	    background: #00A372;
	}
	.el-radio__input.is-checked+.el-radio__label {
	    color: #00A372;
	}
	.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    	color: #00A372;
	}
  	.AuInputLeft{
  		display: inline-block;
  		width: 31.8%;
  		vertical-align: top;
  		padding: 15px 10px 0px 10px;
  	}
  	.AuInputRight{
  		display: inline-block;
  		width: 63%;
  		vertical-align: top;
  		padding: 15px 20px 0px 50px;
  	}
  	.AuInputpPicture{
  		display: inline-block;
  		width: 98%;
  		height:80%;
  		vertical-align: top;
  		padding: 15px 20px 0px 50px;
  		border-color: #00a372;
  	}
	.AuChild{
		width: 90%;
		margin-left: 20px;
	}
	.AuSelect{
		width: 100%;
	}
	.el-form-item{
		margin-bottom: 8px;
  	}
  	.BtFloat{
  		margin-top: 20px;
  		margin-right: 70px;
  		float: right;
  	}
  	.BT{
  		width: 100px;
  	}
  	.BtBack{
  		margin-right: 10px;  		
  	}
  	.el-form-item__label{
  		font-weight: normal;
  	}
  	.iconDiv{
  		border: 2px lightgray solid;
  		height:165px;
  		width: 100%;
  		border-radius: 5px;
  	}
  	.iconDiv2{
  		border: 2px lightgray solid;
  		height:165px;
  		border-radius: 5px;
  		width: 100%;
  	}
  	.iconDivChild{
  		border: 1px lightgray solid;
  		border-radius:5px;
  		height:45px;
  		width: 20%;
  	    margin: 10px;
  		float:left;
  		text-align:center
  	}
  	.iconDiv i{
  		font-size: 20px;
  		margin-top: 8px;
  	}
