body{
  	background-color: #F7F7F7;
}
.gmMain{
	width: 90%;
	margin: auto;
}
.el-menu-demo a{
	font-family: "微软雅黑";
	font-size: 6px;
	font-weight: bold;
	text-decoration: none;
}
/*群发导航栏按钮区*/
.gmBtnAll{
	margin-top: 20px;
}
.elBtn{}
.elBtn:focus{
	background-color: #00A372;
	color: white;
}
/*群发栏内容区*/
.popupbox{
	width: 80%;
	margin: auto;
	margin-bottom: 40px;
}
.popupbox div{
	margin-top: 20px;
}
.popupbox span{
	font-family:"微软雅黑";
	font-size: 16px;
}
.thspan{
	height: 40px;
}
.thspan span{
	display: block;
	float: left;
	margin-right: 100px;
}
#attachItem{
	display: none;
}
/*标签*/

.el-tag + .el-tag {
    margin-left: 20px;
}
/*内容描述区*/
.contentDis{
	margin-top: 200px;
	width: 100%;
	height: auto;
	border: 1px solid gainsboro;
}
.contentHeader{
	height: 20px;
}
.contentHeader div{
	margin-top: 0px;
	float: left;
	margin-left: 2%;
}
.contentHeader div:hover{
	cursor: pointer;
	color: #00A372;
}
.contentHeader span{
	line-height: 32px;
}
.contentHeaderLine{
	opacity: 0.6;
}
/*自定义图标*/
.iconWord{
	display: block;
	float: left;
	width: 40px; /*设置图片显示的宽*/
	height: 32px; /*图片显示的高*/
	background-image: url(../../images/word.png); /*引入图片图片*/
	background-repeat: no-repeat; /*设置图片不重复*/
	background-position: 0px 0px; /*图片显示的位置*/
}
.iconPic{
	display: block;
	float: left;
	width: 40px; /*设置图片显示的宽*/
	height: 32px; /*图片显示的高*/
	background-image: url(../../images/image.png); /*引入图片图片*/
	background-repeat: no-repeat; /*设置图片不重复*/
	background-position: 0px 0px; /*图片显示的位置*/
}
.iconPicAndWord{
	display: block;
	float: left;
	width: 40px; /*设置图片显示的宽*/
	height: 32px; /*图片显示的高*/
	background-image: url(../../images/imageandword.png); /*引入图片图片*/
	background-repeat: no-repeat; /*设置图片不重复*/
	background-position: 0px 0px; /*图片显示的位置*/
	opacity: 0.3;
}
.iconMovie{
	display: block;
	float: left;
	width: 40px; /*设置图片显示的宽*/
	height: 32px; /*图片显示的高*/
	background-image: url(../../images/movie.png); /*引入图片图片*/
	background-repeat: no-repeat; /*设置图片不重复*/
	background-position: 0px 0px; /*图片显示的位置*/
	opacity: 0.5;
}
.iconVoice{
	display: block;
	float: left;
	width: 40px; /*设置图片显示的宽*/
	height: 32px; /*图片显示的高*/
	background-image: url(../../images/voice.png); /*引入图片图片*/
	background-repeat: no-repeat; /*设置图片不重复*/
	background-position: 0px 0px; /*图片显示的位置*/
}
/*按钮区*/
.gmsgBtn{
	float: right;
}
