body{
  	background-color: #F7F7F7;
}
.wqMain{
	width: 90%;
	margin: auto;
}
/*内容框整體*/
.content{
	width: 100%;
	height: 800px;
	background: #F0F0F0;
}
.wrapper{
	width: 90%;
	margin: 30px auto;
	height: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}
/*-------------------------------------------*/
/*左邊的DIv*/
.leftDiv{
	float: left;
	height: 100%;
	background-color: #FFFFFF;
	margin-right: 4%;
	height: 100%;
	width: 60%;
	border: 1px solid 	#E0E0E0;
}
/*标题*/
.leftDivTitle{
	height: 80px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 30px;
	font-weight: bold;
}
.leftDivTitle span{
	line-height: 80px;
}
hr{
	margin-top: 0px;
	width: 90%;
	opacity: 0.4;
}
/*列表区*/
.list{
	width: 90%;
	height: 80%;
	margin: 0 auto;
}
table.list {
	border-collapse: collapse;
}
table.list tr td{
	width: 50%;
}
.imgFloatLeft{
	float: left;
}
.imgFloatRight{
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	cursor: pointer;
}
table.list span{
	display: block;
	float: left;
}
table.list span>h3{
	text-align: center;
}
table.list span>h6{
	text-align: center;
}
/*------------------------------------------*/
/*右邊的Div*/
.rightDiv{
	float: left;
	background-color: #FFFFFF;
	height: 100%;
	width: 36%;
	border: 1px solid #E0E0E0;
}
.rightWrapper{
	width: 90%;
	height: 100%;
	margin: 20px auto;
}
.rightWrapper h5{
	font-family: "微软雅黑";
	float: left;
	opacity: 0.4;
	margin-left: 6px;
}
/*头像*/
.headImg{
	float: left;
	border-radius: 35px;
}
/*菜单部分*/
.rightMenu{
	clear: both;
}
/*内容部分*/
/*基本信息*/
.basicInfo{
	width: 100%;
	height: 500px;
}
.tableWrapper{
	width: 100%;
	border: 1px solid gainsboro;
}
 table.basicInfo{
 	width: 90%;
 	margin: 0 auto;
	border-collapse: collapse;
}
 table.basicInfo tr td{
 	opacity: 0.5;
}
table.basicInfo tr td:first-child{
	text-align: left;
	width: 20%;
}
table.basicInfo tr td:{
	text-align: right;
	width: 20%;
}

.el-tabs__active-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: green;
    z-index: 1;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    list-style: none;
}
.el-tabs__item:hover {
    color: green;
    cursor: pointer;
}
.el-tabs__item.is-active {
    color: green;
}
.el-tabs__item {
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #303133;
    position: relative;
}
.el-tabs__active-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: green;
    z-index: 1;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    list-style: none;
}
