<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>登录 </title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" type="text/css" href="../../css/user/login.css"/>
</head>

<body>
  <div id="app">
  	<el-row>
	  <el-col :span="16">
	  	<div class="grid-content bg-purple">
				<div class="word">  	
				  	<h2>Let's get digital<span style="color: #85bc2a;">.</span></h2>
				  	<p>Get ready to strengthen your brand and grow your digital <br> business.From digital evolution to revolution, from strategy to <br> delivery, we're at your service</p>
				</div>
	  	</div>
	</el-col>
	  <el-col :span="8">
	  	<div class="grid-content bg-purple-light">
		  		<h2 class="logo">
		  			<img src="../../images/deloitte.png">
		  		</h2>
				<el-form class="ruleForm">
				  <el-form-item prop="email">
				    <el-input type="email"  auto-complete="off" placeholder="邮箱"></el-input>
				  </el-form-item>
				  <el-form-item prop="checkPass">
				    <el-input type="password"  auto-complete="off" placeholder="密码"></el-input>
				  </el-form-item>
				  <el-form-item>
				    <el-button type="success" class="login-bt">登录</el-button>
				  </el-form-item>
				</el-form>
				<el-checkbox v-model="checked" class="el-checkbox">记住我</el-checkbox>
				<a href="forgetPassword.html"><p class="forget">忘记密码？</p></a>
				<div class="login-footer">
					<p class="contact">不是客户？<a type="text">联系我们</a></p>
		  			<p class="copyright">©2017 deloitte.com, inc. All Rights Reserved.</p>
				</div>
	  	</div>
	  </el-col>
	</el-row>
  </div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
	        checked: true
	      };
	    }
    })
 </script>
</html>