<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>重置密码</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" type="text/css" href="../../css/user/resetPassword.css"/>
</head>

<body>
  <div id="app">
  	<el-container class="container">
  		<el-header class="header" height="120px">
  			<img class="logo" src="../../images/deloitte.png" />
  		</el-header>
  		<el-main class="main">
  			<div class="reset">
  				<h2>重置密码</h2>
  				<p>用户zaqxsw@cdevfr.com正在重置密码，您的密码必须满足以下条件</p>
					<el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" class="ruleForm">
						<el-form-item class="radio">
					    <el-radio disabled>不少于8位字符</el-radio>
					    <el-radio disabled>1个字母</el-radio>
					    <el-radio disabled>1个数字</el-radio>
					    <el-radio disabled>1个特殊字符</el-radio>
					 	</el-form-item>
					  <el-form-item prop="pass">
					    <el-input type="password" v-model="ruleForm2.pass" auto-complete="off" placeholder="输入密码"></el-input>
					  </el-form-item>
					  <el-form-item prop="checkPass">
					    <el-input type="password" v-model="ruleForm2.checkPass" auto-complete="off" placeholder="确定密码"></el-input>
					  </el-form-item>
					  <el-form-item>
					    <el-button type="success" class="btnOk" @click="submitForm('ruleForm2')">确定</el-button>
					  </el-form-item>
					</el-form>
					<p>上次重置密码的时间为2017-12-11 13:09:22</p>
  			</div>
  		</el-main>
  		<el-footer class="footer">
  			<span class="contact">不是客户？<el-button type="text">联系我们</el-button></span>
  			<br />
  			<span class="copyright">©2017 deloitte.com, inc. All Rights Reserved.</span>
  		</el-footer>
  	</el-container>
  </div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script type="text/javascript" src="../../js/resetPassword.js" ></script>
</html>