/*统一模式*/
body{
  	background-color: #F7F7F7;
}
div{
	/*overflow-y: hidden;*/
	/*overflow-x: hidden;*/
}
.hr{
	clear: both;
}
::-webkit-scrollbar{
	background-color: lightblue;
	width: 2px;
	border-radius: 1px;
}
::-webkit-scrollbar:hover{
	background-color: cadetblue;
}
::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background-color:greenyellow;
	border-radius: 1px;
}
/*::-webkit-scrollbar-thumb:vertical{
	back
}*/
.wqMain{
	width: 90%;
	margin: auto;
}
/*内容框整體*/
.content{
	width: 100%;
	height: 700px;
	background: #F0F0F0;
}
.wrapper{
	width: 95%;
	margin: 25px auto;
	height: 100%;
	padding-top: 30px;
	padding-bottom: 40px;
}
/*========================================================================================================*/
/*以下是座席小组*/
.ServiseGroupMain{
	width: 100%;
	border-radius: 5px;
	background-color: #F0F0F0;
	height: 715px;
}
.ServiseGroupContent{
	width: 95%;
	margin: 25px auto;
	padding-top: 25px;
}

/*内容左*/
.ServiseGroupContentLeft{
	width: 32%;
	float: left;
}
.ServiseGroupContentLeftTop{
	
}
/*内容左title*/
.ServiseGroupContentLeftTitle{
	background-color: #DFDFDF;
	height: 45px;
}
.ServiseGroupContentLeftTitleTop{
	
}
.ServiseGroupContentLeftTitleA{
	float: left;
	margin-top: 9px;
	margin-left: 5%;
	font-size: 15pt;
	color: #808080;
	width: 60%;
}
.ServiseGroupContentLeftTitleB{
	float: right;
	margin-right: 5%;
	margin-top: 8px;
}
/*内容左上content*/
.ServiseGroupContentLeftTopContent{
	padding-top: 15px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #FFFFFF;
	height: 365px;
}
.ServiseGroupContentLeftButtonContent{
	padding-top: 15px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #FFFFFF;
	height: 180px;
}
.ServiseGroupContentLeftContent{
	height: 70px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.ServiseGroupContentLeftImg{
	width: 15%;
	float: left;
}
.ServiseGroupContentLeftImgIn{
	width: 100%;
}
.ServiseGroupContentLeftFont{
	float: left;
	margin-left: 5%;
}
.ServiseGroupContentLeftFontA{
	color: #808080;
	font-size: 15pt;
}
.ServiseGroupContentLeftFontB{
	color: #A9A9A9;
	font-size: 12pt;
}

/*内容中*/
.ServiseGroupContentCenter{
	width: 32%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	background-color: #FFFFFF;
}
/*内容中上*/
.ServiseGroupContentCenterTop{
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 15px;
	height: 135px;
}
.ServiseGroupContentCenterTopTitle{
	overflow: hidden;
}
.ServiseGroupContentCenterTopImg{
	float: left;
	width: 16%;
}
.ServiseGroupContentCenterTopImgIn{
	border-radius: 35px;
	width: 100%;
}
.ServiseGroupContentCenterTopTitleFont{
	float: left;
	margin-left: 5%;
	font-size: 20pt;
	color: #808080;
}
.ServiseGroupContentCenterTopContent{
	margin-top: 10px;
}
.ServiseGroupContentCenterTopFontA{
	color: #A9A9A9;
	font-size: 12pt;
}
.ServiseGroupContentCenterTopFontB{
	color: #A9A9A9;
	font-size: 12pt;
}
/*内容中下*/
.ServiseGroupContentCenterButton{
	padding-left: 5%;
	padding-right: 5%;
	width: 100%;
	border-top: 15px solid #F0F0F0;
	height: 500px;
}
.ServiseGroupContentCenterButtonTitle{
	font-size: 17pt;
	color: black;
	height: 45px;
	line-height: 40px;
}
.ServiseGroupContentCenterButtonContent{
	width: 100%;
	height: 70px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.ServiseGroupContentCenterButtonImg{
	width: 15%;
	float: left;
}
.ServiseGroupContentCenterButtonImgIn{
	border-radius: 35px;
	width: 100%;
}
.ServiseGroupContentCenterButtonFont{
	float: left;
	margin-left: 5%;
	font-size: 11pt;
	color: #A9A9A9;
}

/*内容右*/
.ServiseGroupContentRight{
	width: 32%;
	float: left;
	background-color: #FFFFFF;
	height: 635px;
}

/*共同样式*/
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #e6f6f1;
    color: #00A372;
}

/*=========================================================================================================*/
/*以下是等待队列*/
/*左邊的DIv*/
.WaitingQueue-leftDiv{
	float: left;
	height: 100%;
	background-color: #FFFFFF;
	margin-right: 4%;
	width: 60%;
	border: 1px solid 	#E0E0E0;
}
/*标题*/
.WaitingQueue-leftDivTitle{
	height: 80px;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 25px;
	font-weight: bold;
}
.WaitingQueue-leftDivTitle span{
	line-height: 80px;
}
hr{
	margin-top: 0px;
	width: 90%;
	opacity: 0.4;
}
/*列表区*/
.WaitingQueue-list{
	width: 90%;
	height: 70%;
	margin: 0 auto;
}
table.WaitingQueue-list {
	border-collapse: collapse;
}
table.WaitingQueue-list tr td{
	position: relative;
	width: 50%;
}
.WaitingQueue-imgFloatLeft{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	width: 16%;
}
.WaitingQueue-imgFloatRight{
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
	width: 10%;
	cursor: pointer;
}
table.WaitingQueue-list span{
	position: absolute;
	top: 50%;
	left: 18%;
	transform: translateY(-50%);
	display: block;
}
/*.WaitingQueue-listSpanDiv{
	position: absolute;
	top: 50%;
	left: 18%;
	transform: translateY(-50%);
}
.WaitingQueue-listSpan1{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 1.6em;
}
.WaitingQueue-listSpan2{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 0.6em;
}*/
table.WaitingQueue-list span>h3{
	text-align: center;
}
table.WaitingQueue-list span>h6{
	text-align: center;
}
/*------------------------------------------*/
/*右邊的Div*/
.WaitingQueue-rightDiv{
	float: left;
	background-color: #FFFFFF;
	height: 100%;
	width: 36%;
	border: 1px solid #E0E0E0;
}
.WaitingQueue-rightWrapper{
	width: 90%;
	height: 100%;
	margin: 20px auto;
}
.WaitingQueue-rightWrapper h5{
	font-family: "微软雅黑";
	float: left;
	opacity: 0.4;
	margin-left: 6px;
}
/*头像*/
.WaitingQueue-rightHeader{
	height: 10%;
}
.WaitingQueue-headImg{
	float: left;
	border-radius: 35px;
}
/*菜单部分*/
.WaitingQueue-rightMenu{
	height: 80%;
	clear: both;
}
/*内容部分*/
/*基本信息*/
.WaitingQueue-basicInfo{
	width: 100%;
}
.WaitingQueue-tableWrapper{
	border: 1px solid gainsboro;
	height: 450px;
}
 table.WaitingQueue-basicInfo{
 	width: 90%;
 	margin: 0 auto;
	border-collapse: collapse;
}
table.WaitingQueue-basicInfo tr{
	/*height: 20px;*/
}
 table.WaitingQueue-basicInfo tr td{
 	font-size: 12px;
 	opacity: 0.5;
}
table.WaitingQueue-basicInfo tr td:first-child{
	text-align: left;
	width: 40%;
}

.el-tabs__active-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: green;
    z-index: 1;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    list-style: none;
}
.el-tabs__item:hover {
    color: green;
    cursor: pointer;
}
.el-tabs__item.is-active {
    color: green;
}
.el-tabs__item {
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: #303133;
    position: relative;
}
.el-tabs__active-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: green;
    z-index: 1;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    list-style: none;
}

/*=====================================================================================================*/
/*以下是聊天窗口*/
/*==========================================================================*/
.ChattingWindow-leftDiv{
	float: left;
	height: 100%;
	width: 24%;
	margin-right: 2%;
	background-color: #FFFFFF;
	/*border: 1px solid #E0E0E0;*/
	border-radius: 5px;
}
.ChattingWindow-LeftWrapper{
	position: relative;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
	/*border: 1px solid green;*/
}
.ChattingWindow-leftDivCostomerName{
	width: 100%;
	height: 15%;
	/*border: 1px solid green;*/
}
.ChattingWindow-leftDivCostomerName hr{
	width: 100%;
}
.ChattingWindow-leftDivCostomerName span{
	display: block;
	float: left;
	margin-left: 10px;
	margin-bottom: 6px;
}
div.ChattingWindow-leftDivCostomerName .el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 10px;
    /*border: 1px solid #dcdfe6;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: lightgreen;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    line-height: 1;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 74px;
}
.ChattingWindow-imgFloatLeft{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	float: left;
}
/*列表*/
.ChattingWindow-ChattingList{
	width: 100%;
	height: 70%;
	/*border: 1px solid green;*/
}
.ChattingWindow-ChattingList table{
	width: 100%;
	height: 95%;
}
.ChattingWindow-ChattingList table tr{
	width: 100%;
}
.ChattingWindow-ChattingList table tr td{
	/*border: 1px solid goldenrod;*/
}
.ChattingWindow-ChattingList span{
	opacity: 0.6;
	display: block;
	float: left;
	margin-left: 10px;
}
/*按钮区*/
.ChattingWindow-button{
	position: relative;
	/*border: 1px solid burlywood;*/
	width: 100%;
	height: 6%;
}
.ChattingWindow-el-button{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%,-50%);
}










/*=======================================================================*/
.ChattingWindow-middleDiv{
	float: left;
	width: 44%;
	height: 100%;
	margin-right: 2%;
}
.ChattingWindow-middleDivUp{
	position: relative;
	width: 100%;
	height: 70%;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
}
.ChattingWindow-middleDivButtons{
	z-index: 1;
	position: absolute;
	top: 10px;
	width: 100%;
	background-color: transparent;
}
.ChattingWindow-middleDivButtonIconForward:hover{
	opacity: 0.4;
}
.ChattingWindow-middleDivButtonIconClose:hover{
	opacity: 0.4;
}
.ChattingWindow-middleDivButtonIconForward{
	transition: all .4s linear;
	cursor: pointer;
	float: right;
	display: block;
	margin-top: 4px;
	margin-right: 10px;
	width: 32px; /*设置图片显示的宽*/
	height: 32px; /*图片显示的高*/
	background-image: url(../../images/Customer1.png); /*引入图片图片*/
	background-repeat: no-repeat; /*设置图片不重复*/
	background-position: 0px 0px; /*图片显示的位置*/
	background-size:32px 32px;
	border-radius: 15px;
}
.ChattingWindow-middleDivButtonIconClose{
	transition: all .4s linear;
	cursor: pointer;
	float: right;
	display: block;
	margin-top: 4px;
	margin-right: 10px;
	width: 32px; /*设置图片显示的宽*/
	height: 32px; /*图片显示的高*/
	background-image: url(../../images/Customer2.png); /*引入图片图片*/
	background-repeat: no-repeat; /*设置图片不重复*/
	background-position: 0px 0px; /*图片显示的位置*/
	background-size:32px 32px;
	border-radius: 15px;
}






.ChattingWindow-middleDivMiddle{
	position: relative;
	width: 100%;
	height: 7%;
}
.ChattingWindow-icon{
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	float: left;
	display: block;
	width: 32px; /*设置图片显示的宽*/
	height: 32px; /*图片显示的高*/
	background-repeat: no-repeat; /*设置图片不重复*/
	background-position: 0px 0px; /*图片显示的位置*/
}
.ChattingWindow-middleDivButtonIconFace{
	margin-left: 10px;
	background-image: url(../../images/Customer3.png); /*引入图片图片*/
	background-size:32px 32px;
	border-radius: 15px;
}
.ChattingWindow-middleDivButtonIconPic{
	margin-left: 50px;
	background-image: url(../../images/Customer4.png); /*引入图片图片*/
	background-size:32px 32px;
	border-radius: 15px;
}
.ChattingWindow-middleDivButtonIconVedio{
	margin-left: 90px;
	background-image: url(../../images/Customer5.png); /*引入图片图片*/
	background-size:32px 32px;
	border-radius: 15px;
}
.ChattingWindow-middleDivButtonIconVoice{
	margin-left: 130px;
	background-image: url(../../images/Customer6.png); /*引入图片图片*/
	background-size:32px 32px;
	border-radius: 15px;
}
.ChattingWindow-middleDivButtonIconPicAndWorld{
	margin-left: 170px;
	background-image: url(../../images/Customer7.png); /*引入图片图片*/
	background-size:32px 32px;
	border-radius: 15px;
}
.ChattingWindow-middleDivDown{
	width: 100%;
	height: 23%;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	position: relative;
}
.ChattingWindow-middleDivDown>.el-textarea{
	width: 100%;
	height: 100%;
}
.ChattingWindow-middleDivDown>.el-textarea textarea{
	width: 100%;
	height: 100%;
}
.ChattingWindow-middleDivDown-button{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
/*============================================================================================*/
.ChattingWindow-rightDiv{
	float: left;
	width: 28%;
	height: 100%;
	overflow-y: auto;
	word-break: break-all;
}
.ChattingWindow-rightDivUp{
	width: 100%;
	height: 60%;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
}
.ChattingWindow-rightDivUpHeadImg{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	float: left;
}
.ChattingWindow-tableWrapper{
	border: 1px solid gainsboro;
	height: 250px;
	overflow-y: auto;
}
.ChattingWindow-rightDivMiddle{
	background-color: lightgrey;
	opacity: 0.6;
	width: 100%;
	height: 8%;
}
.ChattingWindow-rightDivMiddle span{
	font-family: "微软雅黑";
	font-size: 22px;
	font-weight: 600;
	line-height: 50px;
	margin-left: 20px;
}
.ChattingWindow-rightDivDown{
	position: relative;
	width: 100%;
	height: 32%;
	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
}
.ChattingWindow-rightDivDownButton{
	position: absolute;
	left: 50%;
	bottom: 0px;
	transform: translate(-50%,-50%);
}
.ChattingWindow-rightDivDown hr{
	width: 100%;
}
.ChattingWindow-rightDivDown p:hover{
	cursor: pointer;
	background-color: #E0E0E0;
}

/*以下是聊天历史*/
/*=================================================================*/
/*leftDiv*/
.HistoryChatting-leftDiv{
	width: 20%;
	height: 100%;
	background-color: #FFFFFF;
	float: left;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	padding: 10px;
}
.HistoryChatting-titleZone{
	position: relative;
	height: 40px;
}
.HistoryChatting-contentZone{
	width: 90%;
	margin: 0 auto;
}

.HistoryChatting-titleZone span{
	position: absolute;
	display: block;
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.HistoryChatting-contentZone form select{
	width: 100%;
	height: 30px;
	font-size: 10px;
	font-family: "微软雅黑";
	border-radius: 5px;
}
.HistoryChatting-contentZone form select:hover{
	cursor: pointer;
	transition: * 1s linear;
	border: 2px solid cornflowerblue;
}
.HistoryChatting-contentZone form input[type="text"]:hover{
	cursor: pointer;
	transition: * 1s linear;
	border: 2px solid cornflowerblue;
}
.HistoryChatting-contentZone form input[type="text"]{
	width: 100%;
	height: 30px;
	font-size: 10px;
	font-family: "微软雅黑";
	border-radius: 5px;
}
.searchButton{
	float: right;
	margin-top: 20px;
}






.HistoryChatting-middleDiv{
	width: 46%;
	height: 100%;
	float: left;
	background-color: #FFFFFF;
	margin-left: 2%;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	padding: 10px;
}
table{
	width: 100%;
}
table thead tr{
	width: 100%;
	font-family: "微软雅黑";
	font-size: 16px;
	height: 40px;
}
table tbody tr{
	height: 30px;
	font-size: 16px;
}


.ChattingcontentZone{
	height:100%;padding:20px;overflow-y: auto;overflow-x: hidden;
}
.ChattingcontentZoneHistory{
	height:90%;padding:20px;overflow-y: auto;overflow-x: hidden;
}


.HistoryChatting-rightDiv{
	width: 30%;
	height: 100%;
	background-color: #FFFFFF;
	float: right;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	padding: 10px;
}
.HistoryChatting-contentZone form select:hover{
	border: 2px solid #00A372;
}
.HistoryChatting-contentZone form input[type="text"]:hover {
    border: 2px solid #00A372;
}

.leftDiv{
	width: 80%;
	float: left;
	position: relative;
	margin-top: 10px;
}
.leftImg{
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.timeZone{
	font-size: 10px;
	font-family: "微软雅黑";
	display: block;
	opacity: 0.6;
}
.leftMsgZone{
	font-size: 16px;
	padding: 10px;
	background-color: #E0E0E0;
	color: darkslategray;
	border-radius: 5px;
	display: block;
	word-break:break-all;
}
.leftMsg{
	float: left;
	margin-left: 40px;
}
.rightDiv{
	width: 80%;
	float: right;
	position: relative;
	margin-top: 10px;
}
.rightImg{
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.rightMsgZone{
	font-size: 16px;
	padding: 10px;
	background-color: lightseagreen;
	color: #fff;
	border-radius: 5px;
	display: block;
	word-break:break-all;
}
.rightMsg{
	float: right;
	margin-right: 40px;
}

.notify .el-dialog{
	position: absolute;
	right: 10px;
	bottom: 0;
}
.v-modal{
	z-index: 0 !important;
}
.el-dialog--center{
	z-index: 100 !important;
}
.el-dialog__wrapper{
	z-index: 10 !important;
}
.el-tabs__nav-wrap::after{
	z-index: 0;
}
.el-tabs__active-bar{
	z-index: 0;
}
.el-tabs__nav{
	z-index: 0;
}
.el-select-dropdown__item.selected {
    color: #00A372;
}
.el-select .el-input__inner:focus {
    border-color: lightgreen;
}
.el-select .el-input.is-focus .el-input__inner {
    border-color: lightgreen;
}
.el-textarea__inner:focus {
    border-color: #00A372;
}
.el-cascader-menu__item.is-active {
    color: #00A372;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: #00A372;
}

.Option{
	background-color: #00A372;
	color: #FFFFFF;
}
h3{
    font-size: 20px;
}
.ChattingWindow-rightDivUp .el-tabs__item{
	font-size: 18px;
}
.ChattingWindow-rightDivUp .el-tabs__nav{
	padding-left: 10%;
}
.WaitingQueue-rightDiv .el-tabs__nav{
	padding-left: 20%;
}
.WaitingQueue-rightDiv .el-tabs__item{
	font-size: 18px;
}
.ChattingWindow-ChattingList h4{
	font-size: 15px;
}
.ChattingWindow-rightDivDown hr{
	margin-bottom: 8px;
}

/*分页*/
/*div.wqMain>div.el-tabs--top>div.el-tabs__header{
	border: 2px solid #F0F0F0;
}
div.wqMain>div.el-tabs--top>div.el-tabs__header>div.el-tabs__nav-wrap>.el-tabs__nav-scroll{
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-left: 50px;
}
div.wqMain>div.el-tabs--top>div.el-tabs__header>div.el-tabs__nav-wrap>.el-tabs__nav-scroll>div.el-tabs__nav>div.el-tabs__item{
	height: 55px;
	line-height: 55px;
	font-size: 15pt;
	color: #A9A9A9;
}*/