<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>添加用户</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					        <!--<a class="navbar-brand" href="#">Deloitte</a>-->
					        <img src="../../images/logo.png" />
					    </div>
					    <div>
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-heart"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li class="active">
									<a href="#"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="AuMain">
		    	    <div>
						<h2>添加用户</h2>
						<hr class="hr"/>
					</div>
					<div class="AuForm">
						<el-form label-position="left" label-width="120px" :model="formInline">
							<div class="AuInput">
								<el-form-item label="用户名" class="AuChild">
						    <el-input v-model="formInline.user"></el-input>
						  </el-form-item>
						  <el-form-item label="昵称" class="AuChild">
						    <el-input v-model="formInline.nickname"></el-input>
						  </el-form-item>
						  <el-form-item label="职务" class="AuChild">
						    <el-input v-model="formInline.position"></el-input>
						  </el-form-item>
						  <el-form-item label="角色" class="AuChild">
						    <el-select class="AuSelect" v-model="formInline.role">
						      <el-option label="一" value="1"></el-option>
						      <el-option label="二" value="2"></el-option>
						      <el-option label="三" value="3"></el-option>
						    </el-select>
						  </el-form-item>
						  <el-form-item label="手机" class="AuChild">
						    <el-input v-model="formInline.mobilephone"></el-input>
						  </el-form-item>
						  <el-form-item label="员工编号" class="AuChild">
						    <el-input v-model="formInline.employeeID"></el-input>
						  </el-form-item>
						  <el-form-item label="用户地址信息" class="AuChild">
						    <el-input v-model="formInline.useraddress"></el-input>
						  </el-form-item>
						  <el-form-item label="其他" class="AuChild">
						    <el-input v-model="formInline.others"></el-input>
						  </el-form-item>
							</div>
							
							<div class="AuInput">
								<el-form-item label="别称" class="AuChild">
							    <el-input v-model="formInline.otheruser"></el-input>
							  </el-form-item>
							  <el-form-item label="电子邮件" class="AuChild">
							    <el-input v-model="formInline.email"></el-input>
							  </el-form-item>
							  <el-form-item label="部门" class="AuChild">
							    <el-input v-model="formInline.department"></el-input>
							  </el-form-item>
							  <el-form-item label="公众号" class="AuChild">
							    <el-select class="AuSelect" v-model="formInline.publicnumber">
							      <el-option label="一" value="1"></el-option>
							      <el-option label="二" value="2"></el-option>
							      <el-option label="三" value="3"></el-option>
							    </el-select>
							  </el-form-item>
							  <el-form-item label="电话" class="AuChild">
							    <el-input v-model="formInline.phone"></el-input>
							  </el-form-item>
							  <el-form-item label="座席号" class="AuChild">
							    <el-input v-model="formInline.seatnumber"></el-input>
							  </el-form-item>
							  <el-form-item label="批准人设置" class="AuChild">
							    <el-input v-model="formInline.approver"></el-input>
							  </el-form-item>
							</div>
						  <el-form-item class="BtFloat">
						    <el-button type="success" class="BT">完成</el-button>
						    <el-button class="BT BtBack">返回</el-button>
						  </el-form-item>
							
						</el-form>
					</div>
		      </div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
        	formInline: {
	          user: '',
	          otheruser: '',
	          nickname: '',
	          email: '',
	          position: '',
	          department: '',
	          role: '',
	          publicnumber: '',
	          mobilephone: '',
	          phone: '',
	          employeeID: '',
	          seatnumber: '',
	          useraddress: '',
	          approver: '',
	          others: '',
	        }
	      };
	    },
	    methods: {
			
     	}
    })
 </script>
 <style>
  	body{
  		background-color: #F7F7F7;
  	}
  	
  	.AuMain{
  		width: 90%;
  		margin: auto;
  	}
  	.AuForm{
  		width: 85%;
  		margin: auto;
  	}
  	.AuInput{
  		display: inline-block;
  		width: 48%;
  		vertical-align: top;
  		padding: 15px 20px 0px 50px;
  	}
		.AuChild{
			width: 90%;
		}
		.AuSelect{
			width: 100%;
		}
		.el-form-item{
  		margin-bottom: 8px;
  	}
  	.BtFloat{
  		margin-right: 75px;
  		margin-top: 70px;
  	}
  	.BT{
  		width: 100px;
  		float: right;
  	}
  	.BtBack{
  		margin-right: 10px;  		
  	}

 </style>
</html>
