<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>权限管理</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
	<link rel="stylesheet" type="text/css" href="../../css/hold-all/authorityManagement.css"/>
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					    	<img src="../../images/logo.png" />
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="../../../index.html"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-heart"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-tower"></span><br />会员</a>
								</li>
								<li class="">
									<a href="../Report/fansReport.html"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li class="active">
									<a href="toolBox.html"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<h2>权限管理</h2>
				<hr class="hr" />
				<div class="main_left">
					<div class="title">角色</div>

					<el-tabs v-model="editableTabsValue2" tab-position="left" type="card" closable @tab-remove="removeTab">
					  <el-tab-pane style="width: 50%;"
					    v-for="(item, index) in editableTabs2"
					    :key="item.name"
					    :label="item.title"
					    :name="item.name">
					  </el-tab-pane>
					</el-tabs>
					<div class="addTab" @click="addTab(editableTabsValue2)">
						<i class="el-icon-plus"></i>
					</div>
				</div>
				<div class="main_right">
					<el-tree
					  :data="data2"
					  show-checkbox
					  node-key="id"
					  :default-expanded-keys="[1,2,3,4,5]"
					  :default-checked-keys="[3,4]"
					  :props="defaultProps">
					</el-tree>
					<div class="btnGroups">
						<el-button>取消</el-button>
						<el-button type="success">保存</el-button>
					</div>
				</div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
        	editableTabsValue2: '1',
	        editableTabs2: [{
	          title: '经理',
	          name: '1'
	        }, {
	          title: '组长',
	          name: '2'
	        },{
	          title: '客服',
	          name: '3'
	        }],
	        tabIndex: 3,
	        //treeNode
        	data2: [
	        	{
		          id: 1,
		          label: '一级权限1',
		          children: [
			          {
			            id: 3,
			            label: '二级权限1',
			            children: [{
			              id: 7,
			              label: '三级权限1'
			            }, {
			              id: 8,
			              label: '三级权限2'
			            }]
			          },
			          {
			            id: 4,
			            label: '二级权限2',
			            children: [{
			              id: 9,
			              label: '三级权限1'
			            }, {
			              id: 10,
			              label: '三级权限2'
			            }]
			          }
		          ]
		        },
		        {
		          id: 2,
		          label: '一级权限2',
		          children: [
			          {
			            id: 5,
			            label: '二级权限1',
			            children: [{
			              id: 11,
			              label: '三级权限1'
			            }, {
			              id: 12,
			              label: '三级权限2'
			            }]
			          },
			          {
			            id: 6,
			            label: '二级权限2',
			            children: [{
			              id: 13,
			              label: '三级权限1'
			            }, {
			              id: 14,
			              label: '三级权限2'
			            }]
			          }
		          ]
		        },
        	],
	        defaultProps: {
	          children: 'children',
	          label: 'label'
	        }
	      };
	    },
	    methods: {
				addTab(targetName) {
		        let newTabName = ++this.tabIndex + '';
		        this.editableTabs2.push({
		          title: '新增',
		          name: newTabName
		        });
		        this.editableTabsValue2 = newTabName;
		      },
		      removeTab(targetName) {
		        let tabs = this.editableTabs2;
		        let activeName = this.editableTabsValue2;
		        if (activeName === targetName) {
		          tabs.forEach((tab, index) => {
		            if (tab.name === targetName) {
		              let nextTab = tabs[index + 1] || tabs[index - 1];
		              if (nextTab) {
		                activeName = nextTab.name;
		              }
		            }
		          });
		        }
		        
		        this.editableTabsValue2 = activeName;
		        this.editableTabs2 = tabs.filter(tab => tab.name !== targetName);
		      },
		      loadNode1(node, resolve) {
		        if (node.level === 0) {
		          return resolve([{ name: 'region' }]);
		        }
		        if (node.level > 1) return resolve([]);
		
		        setTimeout(() => {
		          const data = [{
		            name: 'leaf',
		            leaf: true
		          }, {
		            name: 'zone'
		          }];
		
		          resolve(data);
		        }, 500);
		      }
     	}
    })
 </script>
</html>
