<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>自动回复-关键词回复</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
	<link rel="stylesheet" type="text/css" href="../../css/hold-all/autoReply.css"/>
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					        <a class="navbar-brand" href="#">Deloitte</a>
					    </div>
					    <div>
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="../../../index.html"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="../Fans/FansFollow.html"><span class="glyphicon glyphicon-user"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="../Member/MemberList.html"><span class="glyphicon glyphicon-tower"></span><br />会员</a>
								</li>
								<li class="">
									<a href="../Report/fansReport.html"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li class="active">
									<a href="toolBox.html"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="wcmain">
			  		<div>
						<div class="fl">
							<h2>自动回复</h2>
							<p style="color: darkgray;margin-top: 10px;">通过编辑内容或关键词规则，快速进行自动恢复设置。关闭自动回复之后，将立即对所有用户生效。</p>
						</div>
						<div class="fr">
							<el-switch class="elswitch" v-model="value2" active-color="#00a372" inactive-color="#ff4949">
							</el-switch>
						</div>
						<div class="cleanfix"></div>
					</div>
					<hr class="hr"/>
					<div class="ua-control marginbutton">
						<div class="marginbutton">
						 	<el-button type="success" plain v-bind:autofocus="true" @click="ifshow(0)">关键词回复</el-button>
		    			<el-button type="success" plain @click="ifshow(1)">收到消息回复</el-button>
		    			<el-button type="success" plain @click="ifshow(2)">被关注回复</el-button>
						</div>
						<div v-show="show1">
							<div class="marginbutton">
								<div class="fl">
								  <el-input
								    placeholder="搜索关键词规则名称"
								    prefix-icon="el-icon-search"
								    v-model="input21">
								  </el-input>
								</div>
								<div class="fr">
									<el-button type="success" @click="dialogFormVisible = true">添加回复</el-button>
									<el-dialog title="添加回复" :visible.sync="dialogFormVisible">
									  <el-form :model="form" ref="form" style="width: 80%;">
									    <el-form-item label="规则名称" :label-width="formLabelWidth">
									      <el-input v-model="form.name" auto-complete="off"></el-input>
									    </el-form-item>
								    	<label style="font-size: 14px;color: #606266;line-height: 40px;position: absolute;padding: 0 12px 0 0;left: 46px;">关键词</label>
									    <i style="cursor: pointer;position: absolute;right: 15%;top: 160px;" class="el-icon-circle-plus-outline" @click="addDomain"></i>

									    <el-form-item
									    	:label=labelText
									    	:label-width="formLabelWidth"
									    	v-for="(domain, index) in form.domains"
										    :key="domain.key"
										    :prop="'domains.' + index + '.value'">
  									      <el-input placeholder="请输入内容" v-model="domain.value" class="input-with-select">
											    <el-select v-model="domain.select" slot="prepend" placeholder="请选择">
											      <el-option label="半匹配" value="1"></el-option>
											      <el-option label="全匹配" value="2"></el-option>
											    </el-select>
											    <el-button slot="append" icon="el-icon-delete" @click.prevent="removeDomain(domain)"></el-button>
											  </el-input>
									    </el-form-item>
								    	<!--<el-form-item>
								    		<i style="cursor: pointer;" class="el-icon-circle-plus-outline" @click="addDomain"></i>
									    </el-form-item>-->
									    <el-form-item label="回复内容" :label-width="formLabelWidth">
									      <i style="cursor: pointer;float: left;margin-top: 10px;" @click="showBtn = !showBtn" class="el-icon-circle-plus-outline"></i>
									      <div style="margin-top: 5px;">
										      	<transition name="el-zoom-in-top">
										        <div v-show="showBtn" style="margin-left: 20px;">
										          	<ul>
										          		<li class="fl" style="margin-left: 20px;">
															  		<a href="#">
															  			<i class="el-icon-tickets"></i>
																  		<p class="fr">图文消息</p>
															  		</a>
															  	</li>
															  	<li class="fl" style="margin-left: 20px;">
															  		<a href="#">
															  			<i class="el-icon-edit"></i>
																  		<p class="fr">文字</p>
															  		</a>
															  	</li>
															  	<li class="fl" style="margin-left: 20px;">
															  		<a href="#">
															  			<i class="el-icon-picture"></i>
																  		<p class="fr">图片</p>
															  		</a>
															  	</li>
															  	<li class="fl" style="margin-left: 20px;">
															  		<a href="#">
															  			<i class="el-icon-phone"></i>
																  		<p class="fr">语音</p>
															  		</a>
															  	</li>
															  	<li class="fl" style="margin-left: 20px;">
															  		<a href="#">
															  			<i class="el-icon-view"></i>
																  		<p class="fr">视频</p>
															  		</a>
															  	</li>
															  </ul>
										        </div>
										      </transition>
										    </div>
									    </el-form-item>
									    <el-form-item label="回复方式" :label-width="formLabelWidth">
									      <el-radio v-model="radio" label="1">全部回复</el-radio>
										  <el-radio v-model="radio" label="2">随机回复一条</el-radio>
									    </el-form-item>
									  </el-form>
									  <div slot="footer" class="dialog-footer">
									    <el-button @click="dialogFormVisible = false">取 消</el-button>
									    <el-button type="success" @click="dialogFormVisible = false">确 定</el-button>
									  </div>
									</el-dialog>
								</div>
								<div class="cleanfix"></div>
							</div>
							<div>
							  <el-table
							    :data="tableData"
							    stripe
							    >
							    <el-table-column
							      prop="date"
							      label="规则"
							      >
							    </el-table-column>
							    <el-table-column
							      prop="name"
							      label="关键词">
							    </el-table-column>
							    <el-table-column
							      prop="address"
							      label="回复内容">
							    </el-table-column>
							    <el-table-column
							      prop="option"
							      label="操作">
							    </el-table-column>
							  </el-table>
							</div>
						</div>
						<div v-show="show2">
							<div class="edit-input">
							  <ul>
							  	<li class="fl">
								  	<button>
								  		<i class="el-icon-edit"></i>
								  		<p class="fr">文字</p>
								  	</button>
							  	</li>
							  	<li class="fl">
								  	<button>
								  		<i class="el-icon-picture"></i>
								  		<p class="fr">图片</p>
							  		</button>
							  	</li>
							  	<li class="fl">
								  	<button>
								  		<i class="el-icon-phone"></i>
								  		<p class="fr">语音</p>
							  		</button>
							  	</li>
							  	<li class="fl">
								  	<button>
								  		<i class="el-icon-view"></i>
								  		<p class="fr">视频</p>
							  		</button>
							  	</li>
							  </ul>
							  <div class="cleanfix"></div>
							  <div class="input1">
							  	<textarea class="input-word" placeholder="Thank you for contacting us, our service support will reach out to you soon!" type="" name=""> </textarea>
							  </div>
							  <div></div>
							  <div></div>
							  <div></div>
							</div>
							<div class="fr foot-button">
								<el-button>删除回复</el-button>
								<el-button type="success">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</el-button>
							</div>
						</div>
						<div v-show="show3">
							<div class="edit-input" >
							  <ul>
							  	<li class="fl">
								  	<button>
								  		<i class="el-icon-edit"></i>
								  		<p class="fr">文字</p>
								  	</button>
							  	</li>
							  	<li class="fl">
								  	<button>
								  		<i class="el-icon-picture"></i>
								  		<p class="fr">图片</p>
							  		</button>
							  	</li>
							  	<li class="fl">
								  	<button>
								  		<i class="el-icon-phone"></i>
								  		<p class="fr">语音</p>
							  		</button>
							  	</li>
							  	<li class="fl">
								  	<button>
								  		<i class="el-icon-view"></i>
								  		<p class="fr">视频</p>
							  		</button>
							  	</li>
							  </ul>
							  <div class="cleanfix"></div>
							  <div class="input1">
							  	<textarea class="input-word" placeholder="Thank you for following SCRM official account." type="" name=""> </textarea>
							  </div>
							  <div></div>
							  <div></div>
							  <div></div>
							</div>
							<div class="fr foot-button">
								<el-button>删除回复</el-button>
								<el-button type="success">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</el-button>
							</div>
						</div>
					</div>
					<div class="cleanfix"></div>
			  	</div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	       return {
	       	showBtn: false,
	       	value1: true,
        	value2: true,
        	input21: '',
        	input5: '',
        	labelText:'',
      		select: '',
        	tableData: [],
        	dialogFormVisible: false,
	        form: {
	          name: '',
	          region: '',
	          date1: '',
	          date2: '',
	          delivery: false,
	          type: [],
	          resource: '',
	          desc: '',
	          domains: [{
	            value: '',
	            select:''
	          }]
	        },
	        formLabelWidth: '80px',
	        radio: '1',
	        show3:false,
	       	show2:false,
	        show1:true,
	        activeName: 'second'
      	   };
	    },
	    methods: {
	    	ifshow: function (num) {
	    		if (num == 0) {
	    			this.show3 = false;
	    			this.show2 = false;
	    			this.show1 = true;
	    		} else if (num == 1) {
	    			this.show3 = false;
	    			this.show2 = true;
	    			this.show1 = false;
	    		} else if (num == 2) {
	    			this.show3 = true;
	    			this.show2 = false;
	    			this.show1 = false;
	    		}
	    	},
	    	removeDomain(item) {
	        var index = this.form.domains.indexOf(item)
	        if (index !== -1 && index!==0) {
	          this.form.domains.splice(index, 1)
	        }
	      },
	      addDomain() {
	      	console.log(this.form.domains)
	        this.form.domains.push({
	          value: '',
	          select:'',
	          key: Date.now()
	        });
	      },
	    }
    })
 </script>
</html>