<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>微信公众号绑定</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
	<link rel="stylesheet" type="text/css" href="../../css/hold-all/bindForm1-3.css"/>
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					        <a class="navbar-brand" href="#">Deloitte</a>
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="../../../index.html"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="../Fans/FansFollow.html"><span class="glyphicon glyphicon-user"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="../Member/MemberList.html"><span class="glyphicon glyphicon-tower"></span><br />会员</a>
								</li>
								<li class="">
									<a href="../Report/fansReport.html"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li class="active">
									<a href="toolBox.html"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="wcmain">
		  			<div>
						<h2>微信公众号绑定</h2>
						<hr class="hr"/>
					</div>
					<el-form class="wcform" label-position="left" label-width="150px" :model="formLabelAlign">
					  <el-form-item class="wx-form" label="App Name">
					    <el-input v-model="formLabelAlign.name"></el-input>
					  </el-form-item>
					  <el-form-item class="wx-form" label="App Id">
					    <el-input v-model="formLabelAlign.id"></el-input>
					  </el-form-item>
					  <el-form-item class="wx-form" label="App Secret">
					    <el-input v-model="formLabelAlign.secret"></el-input>
					  </el-form-item>
					  <el-form-item class="wx-form" label="Token">
					    <el-input v-model="formLabelAlign.token"></el-input>
					  </el-form-item>
					</el-form>
					
					<div class="wcbutton">
						
						<el-tooltip class="bfSplit" effect="dark" content="将微信公众号内的素材、自动回复内容同步到系统中" placement="top-start">
								<div class="bfCheck">
									<template class="bt bttest">
											<!-- `checked` 为 true 或 false -->
											<el-checkbox v-model="checked">同步</el-checkbox>
									</template>
					 			<i class="el-icon-question"></i>
								</div>
					  </el-tooltip>

						<el-button class="bt bttest" type="success">保存</el-button>
						<el-button class="bt">返回</el-button>
						
					</div>
		  		</div>	
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
	      	checked: true,
        	formLabelAlign: {
	        name: '',
	        id: '',
	        secret: '',
	        token: '',
	        }
	      };
	    },
	    methods: {
			
     	}
    })
 </script>
</html>
