<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>消息管理</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
	<link rel="stylesheet" href="../../css/hold-all/MessageManagement.css" />
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					    	<img src="../../images/logo.png" />
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-user"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-tower"></span><br />会员</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li>
									<a href="#"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="gmMain">
		    		<!--消息导航栏-->
		    		<template>
					  <el-tabs>
					    <el-tab-pane label="素材管理" name="first">
					    	素材管理
					    </el-tab-pane>
					    <el-tab-pane label="群发消息" name="second">
					    	<!--消息内容栏-->
				    		<div id="msgcontent">
				    			<!--群发导航栏-->
				    			<div class="gmBtnAll">
				    				<el-button size="small" class="elBtn"  @click="dialogFormVisible = true">编辑群发</el-button>
				    				<el-button size="small" class="elBtn">审批状态</el-button>
				    				<el-button size="small" class="elBtn">待发送</el-button>
				    			</div>
				    			<hr class="hr" />
				    			<!--群发内容栏-->
				    			<div>
				    				<el-dialog title="预览" :visible.sync="dialogFormVisible" :modal="true">
				    					<el-form class="popupbox">
				    						 <el-form-item label="">
											    <el-radio-group v-model="form.resource" @change="handleChange(form.resource)">
											      <el-radio label="全部用户"></el-radio>
											      <el-radio label="选择用户"></el-radio>
											    </el-radio-group>
											 </el-form-item>
											 <div id="attachItem">
											 		<!--标签-->
												 <div>
												 	<span>
												 		<b>标签</b>
												 	</span>
												 	<el-tag
													  v-for="tag in tags"
													  :key="tag.name"
													  :type="tag.type">
													  {{tag.name}}
													</el-tag>
												 </div>
												 <!--性别和地区-->
												 <div class="thspan">
												 	<span>
												 		<b>性别</b>
												 	</span>
												 	<span>全部</span>
												 	<span>
												 		<b>群发地区</b>
												 	</span>
												 	<span>中国</span>
												 </div>
											 </div>
											 <!--内容描述-->
											 <div class="contentDis">
											 	<!--内容头-->
											 	<div class="contentHeader">
											 		<div>
											 			<i class="iconPicAndWord"></i>
											 			<span>图文</span>
											 		</div>
											 		<div>
											 			<i class="iconWord"></i>
											 			<span>文字</span>
											 		</div>
											 		<div>
											 			<i class="iconPic"></i>
											 			<span>图片</span>
											 		</div>
											 		<div>
											 			<i class="iconVoice"></i>
											 			<span>音频</span>
											 		</div>
											 		<div>
											 			<i class="iconMovie"></i>
											 			<span>视频</span>
											 		</div>
											 	</div>
											 	<hr class="hr contentHeaderLine" />
											 	<!--内容体-->
											 	<div>
											 		<p>
											 			<h3>
											 				标题描述标题描述标题描述标题描述标题描述标题描述
											 			</h3>
											 		</p>
											 		<p>
											 			文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述
											 			文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述
											 			文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述
											 			文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述文字描述
											 		</p>
											 		<img src="../../images/bind2.png" />
											 	</div>
											 </div>
											 <!--按钮区-->
											 <div class="gmsgBtn">
											 	<el-button type="success" size="medium" @click="dialogFormVisible=false">关闭</el-button>
											 </div>
				    					</el-form>
									</el-dialog>
				    			</div>
				    		</div>
					    </el-tab-pane>
					    <el-tab-pane label="群发历史" name="third">群发历史</el-tab-pane>
					  </el-tabs>
					</template>
		    		
		    	</div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
	      	dialogFormVisible:false,
	      	inputVisible: false,
       		inputValue: '',
	      	form: {
	          name: '',
	          region: '',
	          date1: '',
	          date2: '',
	          delivery: false,
	          type: [],
	          resource: '全部用户',
	          desc: ''
	       },
			tags: [
	          { name: '标签1', type: '' },
	          { name: '标签2', type: 'success' },
	          { name: '标签3', type: 'info' },
	          { name: '标签4', type: 'warning' },
	          { name: '标签5', type: 'danger' }
	       	]	      	
	      };
	    },
	    methods: {
	    	handleChange(label){
	    		console.log(label);
	    		if(label == "全部用户"){
	    			$("#attachItem").css("display","none");
	    		}else if(label == "选择用户"){
	    			$("#attachItem").css("display","block");
	    		}
	    	}
      }
    })
 </script>
</html>
