<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>人员管理</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
	<link rel="stylesheet" href="../../css/hold-all/PersonalManagement.css" />
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					    	<img src="../../images/logo.png" />
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="../../../index.html"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="../Fans/FansFollow.html"><span class="glyphicon glyphicon-user"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="../Member/MemberList.html"><span class="glyphicon glyphicon-tower"></span><br />会员</a>
								</li>
								<li class="">
									<a href="../Report/fansReport.html"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li class="active">
									<a href="toolBox.html"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="pmMain">
		    		<!--标题区-->
		    		<div>
		    			<h2>人员管理</h2>
						<hr class="hr"/>
		    		</div>
		    		<!--按钮区-->
		    		<div class="pmButton">
		    			<el-button type="success" @click="PopUp = true">创建小组</el-button>
		    			<el-dialog title="创建小组" :visible.sync="PopUp">
							  <el-form :model="form">
							    <el-form-item label="小组名称" :label-width="formLabelWidth">
							      <el-input v-model="form.headman" auto-complete="off"></el-input>
							    </el-form-item>
							    <el-form-item label="小组组长" :label-width="formLabelWidth">
							      <el-select v-model="form.region">
							        <el-option label="一" value="1"></el-option>
							        <el-option label="二" value="2"></el-option>
							      </el-select>
							    </el-form-item>
							    <el-form-item label="小组成员" :label-width="formLabelWidth">
							      <el-select v-model="form.menber">
							        <el-option label="一" value="1"></el-option>
							        <el-option label="二" value="2"></el-option>
							      </el-select>
							    </el-form-item>
							  </el-form>
							  <div slot="footer" class="dialog-footer">
							    <el-button @click="PopUp = false">取 消</el-button>
							    <el-button type="success" class="DialogButton" @click="PopUp = false">创 建</el-button>
							  </div>
							</el-dialog>
		    		</div>
		    		<!--小组区-->
		    		<div class="groupAll">
		    			<!--groupA-->
		    			<div>
		    				<!--head-->
		    				<div class="groupHead">
		    					<span class="groupHeadSpan">小组A</span>
		    					<div class="groupHeadIcon">
		    						<i class="iconSave"></i>
									<i class="iconSetting"></i>
									<i class="iconMenu"></i>
		    					</div>
		    				</div>
		    				<!--body-->
		    				<div class="bodyMain">
		    					<div>
		    						<span class="bodyContent">9：00AM-5：00PM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar1"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div>
		    						<span class="bodyContent">9：00AM-5：00PM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar1"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div> 
		    						<span class="bodyContent">9：00AM-5：00PM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar1"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div>
		    						<span class="bodyContent">9：00AM-5：00PM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar1"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div>
		    						<span class="bodyContent">9：00AM-5：00PM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar1"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    				</div>
		    			</div>
		    			<!--groupB-->
			    		<div>
		    				<!--head-->
		    				<div class="groupHead">
		    					<span class="groupHeadSpan">小组B</span>
		    					<div class="groupHeadIcon">
		    						<i class="iconSave"></i>
									<i class="iconSetting"></i>
									<i class="iconMenu"></i>
		    					</div>
		    				</div>
		    				<!--body-->
		    				<div class="bodyMain">
		    					<div>
		    						<span class="bodyContent">5：00PM-1：00AM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar2"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div>
		    						<span class="bodyContent">5：00PM-1：00AM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar2"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div> 
		    						<span class="bodyContent">5：00PM-1：00AM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar2"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div>
		    						<span class="bodyContent">5：00PM-1：00AM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar2"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div>
		    						<span class="bodyContent">5：00PM-1：00AM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar2"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    				</div>
		    			</div>
			    		<!--groupC-->
			    		<div>
		    				<!--head-->
		    				<div class="groupHead">
		    					<span class="groupHeadSpan">小组C</span>
		    					<div class="groupHeadIcon">
		    						<i class="iconSave"></i>
									<i class="iconSetting"></i>
									<i class="iconMenu"></i>
		    					</div>
		    				</div>
		    				<!--body-->
		    				<div class="bodyMain">
		    					<div>
		    						<span class="bodyContent">9：00AM-5：00PM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar3"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div>
		    						<span class="bodyContent">9：00AM-5：00PM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar3"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div> 
		    						<span class="bodyContent">9：00AM-5：00PM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar3"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div>
		    						<span class="bodyContent">9：00AM-5：00PM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar3"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    					<div>
		    						<span class="bodyContent">9：00AM-5：00PM</span>
		    						<div class="bodyContent blackBar">
		    							<div class="whiteBar3"></div>
		    						</div>
		    						<span class="bodyContent">客服A1</span>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
	      	PopUp: false,
        	form: {
	          name: '',
	          headman: '',
	          menber: '',
	        },
	        formLabelWidth: '180px',
	      };
	    },
	    methods: {
			
     	}
    })
 </script>
</html>
