<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>自动回复-关键词回复</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
	<link rel="stylesheet" href="../../css/common.css" />
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					        <a class="navbar-brand" href="#">Deloitte</a>
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="80px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-heart"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li class="active">
									<a href="#"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="wcmain">
			  	  <el-button round @click="ifshow(0)">圆形按钮</el-button>
				  <el-button type="primary" round @click="ifshow(1)">主要按钮</el-button>
				  <el-button type="success" round @click="ifshow(2)">成功按钮</el-button>
				  <div v-show="show1">1231</div>
				  <div v-show="show2">789789</div>
				  <div v-show="show3">adsasdsad</div>
			  	</div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	       return {
	       	 activeName: 'second',
	       	 show3:false,
	       	 show2:false,
	       	 show1:true
      	   };
	    },
	    methods: {
	    	ifshow: function (num) {
	    		if (num == 0) {
	    			this.show3 = true;
	    			this.show2 = false;
	    			this.show1 = false;
	    		} else if (num == 1) {
	    			this.show3 = false;
	    			this.show2 = false;
	    			this.show1 = true;
	    		} else if (num == 2) {
	    			this.show3 = false;
	    			this.show2 = true;
	    			this.show1 = false;
	    		}
	    	}
	    },
    })
 </script>
 <style type="text/css">
 	body{
  		background-color: #F7F7F7;
  	}
  	.wcmain{
  		width: 75%;
  		margin: auto;
  	}
  	.wcmain hr {
  		border: 1px solid black;
  	}
  	.elswitch {
  		margin-top: 10px;
  	}
  	.ua-control {
  	}
  	.success {
  		background-color: #00a372;
  	}
  	.marginbutton {
  		margin-bottom: 20px;
  	}
  	.el-input--suffix .el-input__inner {
  		width: 60px;
  	}
  	.elinput1 {
  		width: 420px;
  	}
 </style>
</html>
