<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>自动回复-关键词回复</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
	<link rel="stylesheet" href="../../css/common.css" />
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					        <a class="navbar-brand" href="#">Deloitte</a>
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="80px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-heart"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li>
									<a href="#"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="wcmain">
			  		<div>
						<div class="fl">
							<h2>自动回复</h2>
							<p>通过编辑内容或关键词规则，快速进行自动恢复设置。关闭自动回复之后，将立即对所有用户生效。</p>
						</div>
						<div class="fr">
							<el-switch class="elswitch" v-model="value2" active-color="#00a372" inactive-color="#ff4949">
							</el-switch>
						</div>
						<div class="cleanfix"></div>
					</div>
					<hr/>
					<div class="ua-control marginbutton">
						<div class="marginbutton">
						 	<el-button type="success" class="success">关键词回复</el-button>
		    				<el-button>收到消息回复</el-button>
		    				<el-button>被关注回复</el-button>
						</div>
						<div class="marginbutton">
							<div class="fl">
							  <el-input
							    placeholder="搜索关键词规则名称"
							    prefix-icon="el-icon-search"
							    v-model="input21">
							  </el-input>
							</div>
							<div class="fr">
								<el-button type="success" class="success">添加回复</el-button>
							</div>
							<div class="cleanfix"></div>
						</div>
					</div>
					<div class="cleanfix"></div>
					<div>
					  <el-table
					    :data="tableData"
					    stripe
					    style="width: 100%">
					    <el-table-column
					      prop="date"
					      label="规则"
					      width="180">
					    </el-table-column>
					    <el-table-column
					      prop="name"
					      label="关键词"
					      width="180">
					    </el-table-column>
					    <el-table-column
					      prop="address"
					      label="回复内容">
					    </el-table-column>
					    <el-table-column
					      prop="address"
					      label="操作">
					    </el-table-column>
					  </el-table>
					</div>
			  	</div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	       return {
	       	value1: true,
        	value2: true,
        	input21: '',
        	tableData: []
      	   };
	    },
	    methods: {
			
     	}
    })
 </script>
 <style type="text/css">
 	body{
  		background-color: #F7F7F7;
  	}
  	.wcmain{
  		width: 75%;
  		margin: auto;
  	}
  	.wcmain hr {
  		border: 1px solid black;
  	}
  	.elswitch {
  		margin-top: 10px;
  	}
  	.ua-control {
  	}
  	.success {
  		background-color: #00a372;
  	}
  	.marginbutton {
  		margin-bottom: 20px;
  	}
 </style>
</html>
