<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>框架</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
	<link rel="stylesheet" href="../../css/common.css" />
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					        <a class="navbar-brand" href="#">Deloitte</a>
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="80px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-heart"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li>
									<a href="#"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="wcmain">
			  		<div>
						<h2>用户管理</h2><hr/>
					</div>
					<div class="ua-control">
					  <el-select v-model="value" placeholder="筛选">
					    <el-option
					      v-for="item in options"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					  </el-select>
					  <el-button type="success" class="success">创建</el-button>
					</div>
					<div class="cleanfix"></div>
					<div>自定义模板
					</div>
			  	</div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
        	options: [{
	          value: '选项1',
	          label: '黄金糕'
	        }, {
	          value: '选项2',
	          label: '双皮奶'
	        }, {
	          value: '选项3',
	          label: '蚵仔煎'
	        }, {
	          value: '选项4',
	          label: '龙须面'
	        }, {
	          value: '选项5',
	          label: '北京烤鸭'
	        }],
	        value: ''
	      };
	    },
	    methods: {
			
     	}
    })
 </script>
 <style type="text/css">
 	body{
  		background-color: #F7F7F7;
  	}
  	.wcmain{
  		width: 75%;
  		margin: auto;
  	}
  	.wcmain hr {
  		border: 1px solid black;
  	}
  	.ua-control {
  		float: right;
  	}
  	.success {
  		background-color: #00a372;
  	}
 </style>
</html>
