<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>用户管理</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					        <!--<a class="navbar-brand" href="#">Deloitte</a>-->
					        <img src="../../images/logo.png" />
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="../../../index.html"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-heart"></span><br />粉丝</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-tower"></span><br />会员</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li class="active">
									<a href="toolBox.html"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="UmMain">
		    		<div>
							<h2>用户管理</h2>
							<hr class="hr"/>
					  </div>
						<div>
							<el-form :inline="true" :model="formInline" class="demo-form-inline">
								<el-form-item>
								    <el-select v-model="formInline.role" placeholder="筛选">
								      <el-option label="一" value="1"></el-option>
								      <el-option label="二" value="2"></el-option>
								      <el-option label="三" value="3"></el-option>
								    </el-select>
								</el-form-item>
								<el-form-item>
								    <el-button id="SetUp" type="success" class="UmButton">创建</el-button>
								</el-form-item>
							</el-form>
						</div>
						<div>
							<template>
							  <el-table :data="tableData" stripe style="width: 100%">
							    <el-table-column prop="image" width="251">
							    	<template slot-scope="scope">
								      <img  :src="scope.row.image" class="UmImage">
								    </template>
							    </el-table-column>
							    <el-table-column prop="name" label="姓名" width="180"></el-table-column>
							    <el-table-column prop="department" label="部门" width="180"></el-table-column>
							    <el-table-column prop="time" label="上次登录时间" width="230"></el-table-column>
							    <el-table-column prop="condition" label="状态" width="180"></el-table-column>
							    <el-table-column label="操作" width="218">
							      <template slot-scope="scope">
							        <el-button type="text" class="BtLine">重置密码</el-button>
							        <el-button type="text" class="BtLine">启动</el-button>
							      </template>
							    </el-table-column>
							  </el-table>
							</template>
						</div>
		    	</div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
        	formInline: {
        		role: '',
        	},
        	tableData: [{
	          image: '../../images/UserMg1.png',
	          name: '名字1',
	          department: '部门1',
	          time: '2017-12-25 13:00:00',
	          condition: '启用'
	        }, {
	          image: '../../images/UserMg2.png',
	          name: '名字2',
	          department: '部门2',
	          time: '2017-12-25 13:00:00',
	          condition: '启用'
	        }, {
	          image: '../../images/UserMg3.png',
	          name: '名字3',
	          department: '部门3',
	          time: '2017-12-25 13:00:00',
	          condition: '禁用'
	        }, {
	          image: '../../images/UserMg4.png',
	          name: '名字4',
	          department: '部门1',
	          time: '2017-12-25 13:00:00',
	          condition: '启用'
	        }],
	      };
	    },
	    methods: {
			  
     	}
    })
 </script>
 <style>
 	.UmMain{
 		width: 90%;
 		margin: auto;
 	}
 	.demo-form-inline{
 		float: right;
 	}
 	.el-form-item__content{
 		width: 100%;
 	}
 	.el-input{
 		width: 150px;
 	}
 	.el-table thead{
 		color: #1F3A50;
 	}
 	.el-table th{
 		background-color: #D3D3D3;
 	}
 	.UmButton{
 		width: 120px;
 	}
 	.cell{
 		text-align: center;
 	}
 	.UmImage{
 		width: 70px;
 		height: 70px;
 		margin-left: 30px;
 	}
 	.BtLine{
 		text-decoration: underline;
 	}
 </style>
</html>
