.FansFollowMain{
	width: 90%;
	margin: auto;
}
.FansFollowMain .el-tabs__item{
	height: 55px;
	line-height: 55px;
	font-size: 15pt;
	color: #A9A9A9;
}
.FansFollowMain div.is-top>.el-tabs__nav-scroll{
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-left: 50px;
}
.FansFollowMain .el-tabs__item.is-active{
	color: #00A372;
}
.FansFollowMain .el-tabs__active-bar{
	height: 5px;
	background-color: #00A372;
}
.FansFollowMain .el-tabs__item:hover{
	color: #00A372;
}
.FansFollowLeft{
	float: left;
	width: 75%;
	background-color: #F0F0F0;
	padding-bottom: 50px;
}
.FansFollowList{
	margin-left: 50px;
}
.FansFollowNamestyle{
	font-size: 13pt;
}
.FansFollowAddressStyle{
	margin: 2px 0px;
	font-size: 11pt;
}
.FansFollowImage{
	width: 60px;
	height: 60px;
}
.FansFollowIcon{
	width: 15px;
	height: 17px;
}
.FansFollowIconLast{
	width: 20px;
	height: 20px;
}
.FansFollowIconSmall{
	width: 10px;
	height: 8px;
}
.FansFollowContent{
	background-color: #A5D045;
	display: inline-block;
	border-radius: 3px;
	padding: 0px 8px;
	color: #FFFFFF;
	margin: 0px 0px;
}
.FansFollowFloat{
	float: right;
}
.FansFollowTime{
	clear: both;
	margin-top: 5px;
}
.FansFollowTableFont{
	color: #A9A9A9;
}
.FansFollowTableMenber{
	font-size: 13pt;
}
.FansFollowButtonPosition{
	position: absolute;
	left: 110px;
	top: 8px;
}
.FansFollowButtonPositionA{
	position: absolute;
	width: 70%;
	left: 49px;
	top: 8px;
}
.el-button{
	border-color: #A9A9A9;
	color: #A9A9A9;
}
.FansFollowButtonStyle{
	height: 30px;
	width: 110px;
	background-color: #FFFFFF;
	line-height: 0px;
}
.FansFollowInput{
	width: 180px;
	margin-left: 20px;
}
.tablabel{
	display: inline-block;
	float: right;
	margin-right: 20px;
	line-height: 40px;
}
.FansFollewButtons{
	display: inline-block;
	color: #FFFFFF;
	width: 100px;
	float: right;
	margin-left: 20px;
	margin-top: 4px;
}
.FansFollowMain .el-input__inner{
	height: 32px;
}
.FansFollowMain .el-input__icon{
	line-height: 32px;
}
.FansFollowMain .el-table td, .el-table th{
	background-color: #F0F0F0;
}
.FansFollowMain .el-table td{
	border-bottom: 1px solid #A9A9A9;
}
.FansFollowMain .el-table th.is-leaf{
	border-bottom: 1px solid #A9A9A9;
}
.FansFollowMain table{
	border-collapse: separate;
}
.FansFollowMain .el-table tr{
	height: 52.8px;
}
.FansFollowRight{
	float: right;
	width: 25%;
	margin-top: 65px;	
 	/*line-height: 43px;*/
}
.FansFollowMain .addTab{
	background-color: #FFFFFF;
	width: 200px;
	text-align: center;
	height: 40px;
	margin-left: 70px;
	cursor: pointer;
	border-bottom: 1px #D3DCE6 solid;
	border-left: 1px #D3DCE6 solid;
	border-right: 1px #D3DCE6 solid;
	color: #00A372;
	font-size: 32px;
}
.FansFollowMain .el-tabs--left .el-tabs__item.is-left{
	text-align: center;
}
.FansFollowMain .el-tabs--left .el-tabs__header.is-left{
	margin-bottom: 0;
	margin-right: 0px;
	width: 55%;
	margin-left: 20%;
}
.FansFollowMain .el-tabs--left.el-tabs--card .el-tabs__item.is-left.is-active{
	border-right-color: #e4e7ed;
}
.FansFollowMain .el-tabs--left.el-tabs--card .el-tabs__nav{
	border-radius: 0px;
}
.FansFollowMain .el-tabs__content{
	background-color: #F0F0F0;
}
.FansFollowMain .el-tabs--left.el-tabs--card .el-tabs__nav{
	background-color: #FFFFFF;
}
.FansFollowMain .el-table{
	border-bottom: 1px solid #A9A9A9;
}
.FansFollowButtonC{
	background-color: #00A372;
	color: #FFFFFF;
	border-radius: 5px !important;
	width: 80px;
	float: right !important;
	border: 0px;
}
.FansFollowMain div.el-dialog__body>div>div.el-input{
	width: 65%;
	height: 25px;
}
.FansFollowButtonA{
	border: 0px;
	background-color: #FFFFFF;
	border-radius: 10px;
	float: left;
}
.FansFollowButtonB{
	border-radius: 5px !important;
	float: left;
	width: 80px;
}
/*.el-dialog{
	height: 210px;
}*/
.FansFollowButtonD{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 75px;
	width: 200px;
}
.FansFollowInputA{
	float: left;
	width: 100%;
	margin-top: 6px;
}
.FansFollowA{
	display: inline-block;
	width: 15%;
	text-align: center;
	color: #00A372;
}
.FansFollowMain a:focus, a:hover {
    color: #A5D045;
}
.FansFollowInputB{
	display: inline-block;
}
.FansFollowMain .el-tabs__header{
	border: 2px solid #F0F0F0;
}
.FansFollowMain .el-tabs__nav-wrap::after{
	content: none;
}
.FansFollowMain .el-tabs__nav-wrap{
	margin-bottom: 0px;
}
.FansFollowMain .el-checkbox__inner:hover {
    border-color: #00A372;
}
.FansFollowMain .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #00A372;
    border-color: #00A372;
}
.FansFollowInputC{
	margin-left: 0px;
}
.FansFollowMain .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #00A372;
}
.FansFollowMain .el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: #00A372;
    outline: 0;
}
.FansRightList{
	margin-left: 15%;
}
.FansTitle{
	width: 70%;
	height: 45px;
	font-size: 14pt;
	text-align: center;
	background-color: #00A372;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #FFFFFF;
}
.FansContent{
	width:70%;
	height: 45px;
	font-size: 14pt;
	text-align: center;
	background-color: #FFFFFF;
	color: #A9A9A9;
	border: 1px solid #E9ECF1;
}
.FansContent:hover{
	color: #00A372;
}
.FansFollowMain .el-message-box__headerbtn:focus .el-message-box__close, .el-message-box__headerbtn:hover .el-message-box__close {
    color: #00A372;
}
.FansFollowMain .el-table__body-wrapper {
    background-color: #F0F0F0;
}
.FansFollowMain .el-table__header-wrapper{
	background-color: #F0F0F0;
}
.el-button--primary{
	border: 0px;
	color: #FFFFFF;
	background-color: #00A372;
}
.el-button--primary:hover{
	border: 0px;
	color: #FFFFFF;
	background-color: #67c23a;
}
.el-button--primary:focus{
	border: 0px;
	color: #FFFFFF;
	background-color: #00A372;
}
#test{
	width: 0px;
}

.FansRightButton{
	margin-left: 20%;
	width: 55%;
}
.FansFollowRight .el-button--small{
	border: none;
	width: 100%;
	border-radius: 0px;
	height: 45px;
	background-color: #00A372;
	color: #FFFFFF;
}
.FansFollowRight .el-button--small:hover{
	background-color: #00A372;
	color: #FFFFFF;
	font-size: 18px;
}
.FansFollowRight .el-button--small:focus{
	background-color: #00a372 !important;
	color: #FFFFFF !important;
}
.FansFollowRight .el-tabs__nav{
	border: 0px !important;
}
.FansFollowRight .el-tabs__header{
	border: 0px !important;
}
.FansFollowRight .el-tabs__item{
	border-right: 0px !important;
	border-left: 0px !important;
	height: 45px;
	line-height: 45px;
}
.FansFollowMain .el-tabs--left .el-tabs__nav-wrap.is-left {
    margin-right: 0px;
}
.FansFollowRightHead{
	width: 55%;
	margin-left: 20%;
	height: 45px;
	background-color: #00A372;
	color: #FFFFFF;
	text-align: center;
    line-height: 45px;
    font-size: 18px;
}
