.FansFollowMain{
	width: 90%;
	margin: auto;
}
.el-tabs__item{
	height: 55px;
	line-height: 55px;
	font-size: 23px;
	color: #A9A9A9;
}
div.is-top>.el-tabs__nav-scroll{
	background-color: #FFFFFF;
	border-radius: 3px;
	padding-left: 50px;
}
.el-tabs__item.is-active{
	color: #00A372;
}
.el-tabs__active-bar{
	height: 5px;
	background-color: #00A372;
}
.el-tabs__item:hover{
	color: #00A372;
}
.FansFollowLeft{
	float: left;
	width: 75%;
	background-color: #F7F7F7;
}
.FansFollowList{
	margin-left: 50px;
	background-color: #F7F7F7;
}
.FansFollowNamestyle{
	font-size: 13pt;
}
.FansFollowAddressStyle{
	margin: 2px 0px;
	font-size: 11pt;
}
.FansFollowImage{
	width: 60px;
	height: 60px;
}
.FansFollowIcon{
	width: 15px;
	height: 17px;
}
.FansFollowIconLast{
	width: 20px;
	height: 20px;
}
.FansFollowIconSmall{
	width: 10px;
	height: 8px;
}
.FansFollowContent{
	background-color: #A5D045;
	display: inline-block;
	border-radius: 3px;
	padding: 0px 8px;
	color: #FFFFFF;
}
.FansFollowFloat{
	float: right;
}
.FansFollowTime{
	clear: both;
	margin-top: 5px;
}
.FansFollowTableFont{
	color: #A9A9A9;
}
.FansFollowTableMenber{
	font-size: 13pt;
}
.FansFollowButtonPosition {
    position: relative;
    left: 60px;
    top: 40px;
    z-index: 1;
}
.el-button{
	border-color: #A9A9A9;
	color: #A9A9A9;
}
.FansFollowButtonStyle{
	height: 30px;
	width: 110px;
	background-color: #FFFFFF;
	line-height: 0px;
}
.FansFollowInput{
	width: 180px;
	margin-left: 20px;
}
.el-input__inner{
	height: 32px;
}
.el-input__icon{
	line-height: 32px;
}
.el-table td, .el-table th{
	background-color: #F7F7F7;
}
.el-table td{
	border-bottom: 1px solid #A9A9A9;
}
.el-table th.is-leaf{
	border-bottom: 1px solid #A9A9A9;
}
table{
	border-collapse: separate;
}
.FansFollowRight{
	float: right;
	width: 25%;
	margin-top: 65px;	
 	line-height: 40px;
}
.title{
 	width: 200px;
 	background-color: #00A372;
 	color: #FFFFFF;
 	text-align: center;
 	height: 40px;
 	margin-left: 70px;
 	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
}
.addTab{
	background-color: #FFFFFF;
	width: 200px;
	text-align: center;
	height: 40px;
	margin-left: 70px;
	cursor: pointer;
	border-bottom: 1px #D3DCE6 solid;
	border-left: 1px #D3DCE6 solid;
	border-right: 1px #D3DCE6 solid;
	color: #00A372;
	font-size: 32px;
}
.el-tabs--left .el-tabs__item.is-left{
	text-align: center;
}
.el-tabs--left .el-tabs__header.is-left{
	margin-bottom: 0;
	margin-right: 0px;
	width: 200px;
	margin-left: 70px;
}
.el-tabs--left.el-tabs--card .el-tabs__item.is-left.is-active{
	border-right-color: #e4e7ed;
}
.el-tabs--left.el-tabs--card .el-tabs__nav{
	border-radius: 0px;
}
.el-tabs__content{
	background-color: #F7F7F7;
}
.el-tabs--left.el-tabs--card .el-tabs__nav{
	background-color: #FFFFFF;
}
.el-table{
	border-bottom: 1px solid #A9A9A9;
}
.FansRightList{
	margin-left: 15%;
}
.FansTitle{
	width: 70%;
	height: 45px;
	font-size: 14pt;
	text-align: center;
	background-color: #00A372;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #FFFFFF;
}
.FansContent{
	width:70%;
	height: 45px;
	font-size: 14pt;
	text-align: center;
	background-color: #FFFFFF;
	color: #A9A9A9;
	border: 1px solid #E9ECF1;
}
.FansContent:hover{
	color: #00A372;
}
.el-checkbox__inner:hover {
    border-color: #00A372;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #00A372;
    border-color: #00A372;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
    border-color: #00A372;
    outline: 0;
}
.el-table__body-wrapper {
    background-color: #F7F7F7;
}
.el-table__header-wrapper{
	background-color: #F7F7F7;
}
.FansFollowButtonA{
	border: 0px;
	background-color: #FFFFFF;
	border-radius: 10px;
	float: left;
}
.FansFollowButtonB{
	border-radius: 5px !important;
	float: left;
	width: 80px;
}
.FansFollowA{
	display: inline-block;
	width: 15%;
	text-align: center;
	color: #00A372;
}
.FansFollowInputA{
	float: left;
	width: 100%;
	margin-top: 6px;
}
.el-dialog {
    height: 210px;
}
.FansFollowButtonD{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 200px;
}
.FansFollowButtonC{
	background-color: #00A372;
	color: #FFFFFF;
	border-radius: 5px !important;
	width: 80px;
	float: right !important;
	border: 0px;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
    color: #00A372;
}
.FansFollowInputB{
	display: inline-block;
}
div.el-dialog__body>div>div.el-input{
	width: 65%;
	height: 25px;
}
.el-button--primary{
	border: 0px;
	color: #FFFFFF;
	background-color: #00A372;
}
.el-button--primary:hover{
	border: 0px;
	color: #FFFFFF;
	background-color: #67c23a;
}
.el-button--primary:focus{
	border: 0px;
	color: #FFFFFF;
	background-color: #00A372;
}
