html, body, #app, .el-container, .el-aside {
    height: 100%;
}

/*除首页外其他页面返回、取消按钮开始*/
.el-button{
	color: #808080;
  	border-color: #A9A9A9;
	background-color: #EEEEEE;
}
.el-button:hover{
	border-color: #00a372;
	color: #00A372;
}
.el-button:focus{
	border-color: #00a372;
	color: #00A372;
}
/*除首页外其他页面返回、取消按钮开始*/

/*除首页外其他页面完成、确认按钮开始*/
.el-button--success {
	color: #FFFFFF;
    background-color: #00a372;
	border-color: #00a372;
}
.el-button--success:hover{
	border-color: #67c23a;
	color: #FFFFFF;
}
.el-button--success:focus{
	border-color: #67c23a;
	color: #FFFFFF;
}
/*除首页外其他页面完成、确认按钮结束/

/*首页按钮开始*/
.el-button--success.is-plain {
    color: #00a372;
    border-color: #00A372;
}
.el-button--success.is-plain:hover {
    background: #00a372;
    border-color: #00A372;
}
.el-button--success.is-plain:focus {
    background: #00a372;
    border-color: #00A372;
}
/*首页按钮结束*/

/*顶部布局*/
.el-header{
	padding: 0;
}
.el-header img{
	margin-top: 13.5px;
	height: 23px;
}
.el-aside{
	width: 70px;
}
/*头像*/
.el-header .img-circle{
	height: 40px;
	margin-top: 5px;
}
/*左侧导航栏*/
#leftNav{
	width: 70px;
	height: 100%;
	float: left;
}
#leftNav div div ul{
	margin-left: 2px;
	padding-left: 0;
	width: 66px;
	text-align: center;
}
#leftNav .container-fluid{
	padding-left: 0;
	padding-right: 0;
}
#leftNav .container-fluid div .navbar-nav>.active>a:hover{
	width: 66px;
}
#leftNav .container-fluid div .navbar-nav li a{
	width: 66px;
	font-size: 12px;
}
/*字体图标*/
.glyphicon{
	font-size: 24px;
}

/*页面内容*/
.el-main{
	padding: 40px;
	background-color: #F7F7F7;
	width: 80%;
}

.el-main h2{
	color: #1f3a50;
}

.hr{
	border-top: 2px solid #C6C8CA;
}
/*滚动条样式*/
/*chrom*/
::-webkit-scrollbar{
	background-color: lightblue;
	width: 2px;
	border-radius: 1px;
}
::-webkit-scrollbar:hover{
	background-color: cadetblue;
}
::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background-color:greenyellow;
	border-radius: 1px;
}

/*::scrollbar{
	scrollbar-dark-shadow-color:lightblue;
	background-color: lightblue;
	width: 2px;
	border-radius: 1px;
}
::scrollbar:hover{
	background-color: cadetblue;
}
scrollbar-thumb{
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background-color:greenyellow;
	border-radius: 1px;
}*/
