 	.top{
 		height: 250px;
 		width: 100%;
 	}
 	.item1,.item2,.item3{
 		position: relative;
 		width: 33.33%;
 		height: 250px;
 		float: left;
 		text-align: center;
 		color: #fff;
 	}
 	.item1 div,.item2 div, .item3 div{
 		position:absolute;
 		height: 50%;
 		width: 40%;
 		top: 0;
 		margin-top: 12.5%;
 		margin-left: 30%;
 	}
 	.item1 img,.item2 img, .item3 img{
 		position: absolute;
 		top: 0;
 		left: 0;
 		/*left: -18%;*/	
 		width: 30px;
 		height: 30px;
 		margin-top: 15%;
 		margin-left: 30%;
	}
 	.num{
 		font-size: 3em;
 		font-weight: bold;
 		line-height: 20px;
 		padding-top: 50px;
 		display: block;
 		
 	}
 	.item1 div .num{
 		text-shadow: 3px 3px 3px #87bf49;
 	}
  	.item2 div .num{
 		text-shadow: 3px 3px 3px #259898;
 	}
 	.item3 div .num{
 		text-shadow: 2px 2px 2px #188c5c;
 	}
 	.word{
 		font-size: 1.2em;
 		line-height: 20px;
 	}
 	.item1{
 		background-color: #a5d045;
 	}
 	.item2{
 		background-color: #0caaa5;
 	}
 	.item3{
 		background-color: #00A372;
 	}
	
 	.el-input--suffix .el-input__inner {
 		padding-left: 36px;
 		border:solid 1px #00a372;
 		background: url("../images/date.jpg") no-repeat 5px 5px;
 	}
 	.el-select {
 		float: right;
 	}
	  .list_left{
	  	width: 48%;
	  	height: 400px;
	  	float: left;
	  	margin-bottom: 20px;
	  	border-bottom:2px solid #C6C8CA;
	  }
	  .list_right{
	  	width: 48%;
	  	height: 400px;
	  	float: right;
		border-bottom:2px solid #C6C8CA;
	  }
	  .list_content>div{
        display: inline-block;
/*设置HTML元素的width属性包括边框*/
        box-sizing: border-box;
/*元素顶端对齐*/
        vertical-align: top;
      }
      .newSend{
      	position: relative;
  	    float: right;
    	margin-top: 180px;
      }
      .content_hr{
      	width: 95%;
      	border-top:2px dashed #E5E9F2;
      }
      .title_font{
      	font-size: 13pt;
      }
      .content_font{
      	font-size: 11pt;
      }
      .date_font{
      	font-size: 9pt;
      	color: #A9A9A9;
      }
      .list_padding{
      	padding-top: 10px;
      }
	  .image {
	    width: 120px;
	    height: 50px;
	    display: block;
	    margin: 10px 10px 10px 30px;
	  }
	  .list_content:hover{
	  	background-color: lightgray;
	  	cursor: pointer;
	  }