body{
	background-color: #F7F7F7;
}
.logo{
	height: 140px;
}
.container{
	text-align: center;
}
.reset{
	width: 40%;
	margin: 0 auto;
	border: 2px lightgray solid;
	border-radius:0.4em;
}
.reset h2{
	display: block;
	font-size: 1.5em;
	font-weight: normal;
	color:#191970;
}
.ruleForm{
	margin: 20px;
}
.radio{
	text-align: left;
}
.reset p{
	color: darkgray;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}
.contact{
	font-size: 1em;
}
.copyright{
	font-size: 0.8em;
	color: darkgray;
}
.btnOk{
	width: 100%;
	background-color: #00a372;
  	border-color: #00a372;
}
.el-radio{
	display: block;
}
.el-radio+.el-radio {
	margin-top: 5px;
    margin-left: 0px;
}
