<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>会员列表</title>
  <!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/frame.css" />
</head>

<body>
	<div id="app">
		<el-container>
			<el-header height="50px">
				<nav id="topNav" class="navbar-inverse" role="navigation">
					<div class="container-fluid">
					    <div class="navbar-header">
					    	<img src="../../images/logo.png" />
					    </div>
					    <div>			
					    	<ul class="nav navbar-nav">
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	公众号名称 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">名称0</a></li>
					                    <li><a href="#">名称1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">名称3</a></li>
					                </ul>
					            </li>
					        </ul>
					        <ul class="nav navbar-nav navbar-right">
					        	<li>
				        			<img src="../../images/user_img.png" class="img-circle">
					        	</li>
					            <li class="dropdown">
					                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				                    	用户名 <b class="caret"></b>
					                </a>
					                <ul class="dropdown-menu">
					                	<li><a href="#">用户0</a></li>
					                    <li><a href="#">用户1</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户2</a></li>
					                    <li class="divider"></li>
					                    <li><a href="#">用户3</a></li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</div>
				</nav>
			</el-header>
		  <el-container>
		    <el-aside width="70px">
		    	<nav id="leftNav" class="navbar-inverse">
					<div class="container-fluid">
					    <div>
					    	<ul class="nav navbar-nav">
								<li class="">
									<a href="../../../index.html"><span class="glyphicon glyphicon-home"></span><br />首页</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-comment"></span><br />消息</a>
								</li>
								<li class="">
									<a href="#"><span class="glyphicon glyphicon-headphones"></span><br />客服</a>
								</li>
								<li class="">
									<a href="../Fans/FansFollow.html"><span class="glyphicon glyphicon-heart"></span><br />粉丝</a>
								</li>
								<li class="active">
									<a href="MemberList.html"><span class="glyphicon glyphicon-tower"></span><br />会员</a>
								</li>
								<li class="">
									<a href="../Report/fansReport.html"><span class="glyphicon glyphicon-list-alt"></span><br />报表</a>
								</li>
								<li>
									<a href="../hold-all/toolBox.html"><span class="glyphicon glyphicon-inbox"></span><br />工具箱</a>
								</li>
							</ul>
					    </div>
					</div>
				</nav>
		    </el-aside>
		    <el-main>
		    	<div class="MenberListMain">
		    		<div>
		    			<h2>会员列表</h2>
							<hr class="hr"/>
		    		</div>
		    		<div>
		    			<div class="FansFollowLeft">
							    		<div class="FansFollowList">
							    			<template>
												  <el-table ref="multipleTable" :data="tableData3" tooltip-effect="dark" @selection-change="handleSelectionChange">
												    <el-table-column type="selection"></el-table-column>
												    <el-table-column width="100">
												      <template slot-scope="scope">
												      	<img  :src="scope.row.img" class="FansFollowImage">
												      </template>
												    </el-table-column>
												    <el-table-column width="360">
												    	<template slot-scope="scope">
												    		<div class="FansFollowNamestyle">{{scope.row.name}}&nbsp&nbsp&nbsp
												    			<img :src="scope.row.icon1" class="FansFollowIcon" />
												    		</div>
												    		<div class="FansFollowAddressStyle">
												    			<img :src="scope.row.icon2" class="FansFollowIcon" />
												    			&nbsp&nbsp&nbsp
												    			<img :src="scope.row.icon3" class="FansFollowIcon" />
												    		  <span class="FansFollowTableFont">{{scope.row.address}}</span>
												    		  &nbsp&nbsp&nbsp
												    		  <img :src="scope.row.icon5" class="FansFollowIcon" />
												    		  <span class="FansFollowTableFont">{{scope.row.mobile}}</span>
												    		</div>
												    		<div class="FansFollowContentStyle">
												    			<div class="FansFollowContent">{{scope.row.content}}</div>
												    			<div class="FansFollowContent">{{scope.row.content}}</div>
												    			<div class="FansFollowContent">{{scope.row.content}}</div>
												    			<img :src="scope.row.icon4" class="FansFollowIconSmall" />
												    		</div>
												    	</template>
												    </el-table-column>
												    <el-table-column>
												    	<template slot-scope="scope">
												    		<div>
												    			<div class="FansFollowFloat FansFollowTime FansFollowTableFont">{{scope.row.time}}</div>
												    		</div>
												    	</template>
												    </el-table-column>
												  </el-table>
												</template>
							    		</div>	
							    	</div>
							    	<div class="FansFollowButtonPosition">
											<el-button type="button" class="FansFollowButtonStyle">打标签</el-button>
											<el-input class="FansFollowInput" v-model="input" placeholder="搜索">
												<i slot="suffix" class="el-input__icon el-icon-search"></i>
											</el-input>
							    	</div>
							    	<div class="FansFollowRight">
							    		<div class="title">全部</div>
											<el-tabs v-model="editableTabsValue2" tab-position="left" type="card" closable @tab-remove="removeTab">
											  <el-tab-pane style="width: 50%;"
											    v-for="(item, index) in editableTabs2"
											    :key="item.name"
											    :label="item.title"
											    :name="item.name">
											  </el-tab-pane>
											</el-tabs>
											<div class="addTab" @click="addTab(editableTabsValue2)">
												<i class="el-icon-plus"></i>
											</div>
							    	</div>
		    		</div>
		    	</div>
		    </el-main>
		  </el-container>
		</el-container>
	</div>
</body>
	<!-- 先引入 Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
    new Vue({
      el: '#app',
      data() {
	      return {
	        tableData3: [{
	          img: '../../images/MemberList4.png',
	          name: 'Harry',
	          icon1: '../../images/MemberListIcon5.png',
	          icon2: '../../images/MemberListIcon1.png',
	          icon3: '../../images/MemberListIcon3.png',
	          icon4: '../../images/MemberListIcon4.png',
	          content: '#标签内容#',
	          address: '徐汇 上海 中国',
	          mobile: '1234567890',
	          icon5: '../../images/MemberListIcon2.png',
	          time: '一小时前加入会员',
	        }, {
	          img: '../../images/MemberList1.png',
	          name: 'Ivan',
	          icon1: '../../images/MemberListIcon5.png',
	          icon2: '../../images/MemberListIcon1.png',
	          icon3: '../../images/MemberListIcon3.png',
	          icon4: '../../images/MemberListIcon4.png',
	          content: '#标签内容#',
	          address: '徐汇 上海 中国',
	          mobile: '1234567890',
	          icon5: '../../images/MemberListIcon2.png',
	          time: '2天前加入会员',
	        }, {
	          img: '../../images/MemberList2.png',
	          name: 'Harry',
	          icon1: '../../images/MemberListIcon5.png',
	          icon2: '../../images/MemberListIcon1.png',
	          icon3: '../../images/MemberListIcon3.png',
	          icon4: '../../images/MemberListIcon4.png',
	          content: '#标签内容#',
	          address: '徐汇 上海 中国',
	          mobile: '1234567890',
	          icon5: '../../images/MemberListIcon2.png',
	          time: '2天前加入会员',
	        }, {
	          img: '../../images/MemberList3.png',
	          name: 'Ivan',
	          icon1: '../../images/MemberListIcon5.png',
	          icon2: '../../images/MemberListIcon1.png',
	          icon3: '../../images/MemberListIcon3.png',
	          icon4: '../../images/MemberListIcon4.png',
	          content: '#标签内容#',
	          address: '徐汇 上海 中国',
	          mobile: '1234567890',
	          icon5: '../../images/MemberListIcon2.png',
	          time: '2天前加入会员',
	        }],
	        multipleSelection: [],
	        input: '',
	        editableTabsValue2: '1',
	        editableTabs2: [{
	          title: '标签描述',
	          name: '1'
	        }, {
	          title: '标签描述',
	          name: '2'
	        },{
	          title: '标签描述',
	          name: '3'
	        },{
	        	title: '标签描述',
	        	name: '4',
	        }],
	      };
	    },
	    methods: {
			  handleSelectionChange(val) {
	        this.multipleSelection = val;
	      },
				addTab(targetName) {
		      let newTabName = ++this.tabIndex + '';
		      this.editableTabs2.push({
		        title: '标签描述',
		        name: newTabName
		        });
		      this.editableTabsValue2 = newTabName;
		      },
		    removeTab(targetName) {
		      let tabs = this.editableTabs2;
		      let activeName = this.editableTabsValue2;
		      if (activeName === targetName) {
		        tabs.forEach((tab, index) => {
		          if (tab.name === targetName) {
		            let nextTab = tabs[index + 1] || tabs[index - 1];
		              if (nextTab) {
		                activeName = nextTab.name;
		              }
		          }
		        });
		      } 
		      this.editableTabsValue2 = activeName;
		      this.editableTabs2 = tabs.filter(tab => tab.name !== targetName);
		    },	  
     	}
    })
 </script>
 <link rel="stylesheet" href="../../css/member/MemberList.css" />
</html>
