 	.content{
 		width: 90%;
 		margin: auto;
 	}
 	.el-table{
 		text-align: center;
 	}
 	.el-table th{
    background-color: #D3D3D3;
    color: #1F3A50;
    text-align: center;
	}
	/*大选项卡*/
	.el-tabs__item.is-active {
	    color: #00A372;
	}
	.el-tabs__item:hover {
    color: #00A372;
	}
	.el-tabs__active-bar{
		background-color: #00A372;
	}
	/*小选项卡*/
	.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #00A372;
	}
	.el-tabs--border-card>.el-tabs__header .el-tabs__item:hover {
    color: #00A372;
	}
	.card{
		float: left;
		height: 160px;
		width: 12%;
		min-width: 100px;
		margin-left: 10%;
		margin-top: 50px;
	}
	.imgText div span{
			display: block;
			text-align: center;
		}
	.num{
		font-size: 38px;
		color: #00A372;
		font-weight: 700;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
/*以下是属性分析*/
/*==================================================================================*/
.attributeWrapper{
	width: 90%;
	margin: 0 auto;
	padding: 20px;
}
.block{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 40px;
	/*background-color: lightgray;*/
	margin-bottom: 5%;
}
select{
	width:140px;
	height: 40px;
	border-radius: 5px;
	transition: all .2s linear;
	border: 1px solid lightblue;
	font-size: 20px;
}
select:hover{
	cursor: pointer;
	border: 1px solid lightcyan;
}
.spanTitle{
	display: block;
	font-family: "微软雅黑";
	font-size: 2em;
	font-weight: bold;
}
/*.attributeWrapper div span{
	display: block;
	font-family: "微软雅黑";
	font-size: 2em;
	font-weight: normal;
}*/
/*自定义组件条形分析图*/

/*wrapper*/
.templateWrapper{
	position: relative;
	width: 100%;
	height: 400px;
}
/*黑条*/
.blackDiv{
	height: 50%;
	width: 0.5%;
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translateY(-50%);
	background-color: black;
}
.divModel{
	z-index: 99;
	height: 30%;
	position: absolute;
	/*float: left;
	margin-top: 200px;*/
	top: 50%;
	transform: translateY(-50%);
	/*background-color: yellow;*/
	/*width: 20%;*/
	border-left: 0.5px solid whitesmoke;
	border-right: 0.5px solid whitesmoke;
}
.div0{
	background-color: cyan;
}
/*黄条*/
.div1{
	background-color: yellow;
	/*width: 20%;*/
}
/*黄绿条*/
.div2{
	/*left: 20.5%;*/
	background-color: yellowgreen;
	/*width: 40%;*/
}
/*绿条*/
.div3{
	background-color: lightseagreen;
}

/*items*/
.items{
	position: absolute;
	left: 50%;
	bottom: 1%;
	transform: translateX(-50%);
}
.items div{
	float: left;
	margin-right: 10px;
}
.items div div{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	display: inline-block;
	margin-right: 5px;
	margin-left: 20px;
}
.items div span{
	display: inline-block;
	font-size: 10px;
	font-weight: 300;
}
/*刻度条*/
.scaleBar{
	position: absolute;
	height: 60%;
	width: 2px;
	background-color: lightgrey;
	top: 50%;
	transform: translateY(-50%);
}
.scaleBar span{
	opacity: 0.4;
	font-size: 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -40px;
}
.bar1{
	left: 10%;
}
.bar2{
	left: 20%;
}
.bar3{
	left: 30%;
}
.bar4{
	left: 40%;
}
.bar5{
	left: 50%;
}
.bar6{
	left: 60%;
}
.bar7{
	left: 70%;
}
.bar8{
	left: 80%;
}
.bar9{
	left: 90%;
}
.bar10{
	left: 100%;
}
/*总计*/
.totalNum{
	position: absolute;
	top: 50%;
	right: -80px;
	transform: translateY(-50%);
	font-size: 30px;
	font-family: "微软雅黑";
	font-weight: bold;
	opacity: 0.6;
}

/*城市分布*/
table.tableStyle{
	width: 100%;
	margin-top: 80px;
}
table.tableStyle thead{
	background-color: #E0E0E0;
	font-size: 25px;
	font-family: "微软雅黑";
}
table.tableStyle tbody{
	background-color: #F9FAFC;
	font-size: 20px;
	font-family: "微软雅黑";
}
table.tableStyle tr{
	height: 60px;
}
table.tableStyle tbody tr:hover{
	background-color: #F0F9EB;
}
table.tableStyle thead tr th{
	text-align: center;
}
table.tableStyle tbody tr td{
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
}
table.tableStyle thead tr th:first-child{
	width: 30%;
}
table.tableStyle tbody tr td:first-child{
	width: 30%;
}
/*机型分布*/
.machineWrapper{
	width: 100%;
	height: 940px;
	margin-top: 20px;
	/*background-color: lightblue;*/
}
.machineSpreadPieWrapper{
	width: 100%;
	margin: 0 auto;
}
.TableWrapper{
	width: 90%;
	margin: 0 auto;
}
/*省份分布*/
.provinceSpreadWrapper{
	width: 100%;
	height: 1200px;
	margin-top: 20px;
}
.provinceSpreadMapWrapper{
	width: 100%;
}
/*属性分布表*/
.attributeHeaderWrapper{
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.downLoadButton{
	position: absolute;
	top: 60px;
	right: 0%;
}
.el-tabs__item {
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-weight: normal;
    font-weight: bold;
    color: #303133;
    position: relative;
}