body{
	background-color: #F7F7F7;
}
.logo{
	height: 140px;
}
.container{
	text-align: center;
}
.reset{
	width: 35%;
	margin: 0 auto;
	border: 2px lightgray solid;
	border-radius:0.4em;
}
.reset h2{
	display: block;
	font-size: 1.5em;
	font-weight: normal;
	color:#191970;
}
.ruleForm{
	margin: 20px;
}
.radio{
	text-align: left;
}
.reset p{
	color: darkgray;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}
.contact{
	font-size: 1em;
}
.copyright{
	font-size: 0.8em;
	color: darkgray;
}
.btnCancel{
	width: 48%;
}
.btnOk{
	width: 48%;
}

/*除首页外其他页面返回、取消按钮开始*/
.el-button{
	color: #808080;
  	border-color: #A9A9A9;
	background-color: #EEEEEE;
}
.el-button:hover{
	border-color: #00a372;
	color: #00A372;
}
.el-button:focus{
	border-color: #00a372;
	color: #00A372;
}
/*除首页外其他页面返回、取消按钮开始*/

/*除首页外其他页面完成、确认按钮开始*/
.el-button--success {
	color: #FFFFFF;
    background-color: #00a372;
	border-color: #00a372;
}
.el-button--success:hover{
	border-color: #67c23a;
	color: #FFFFFF;
}
.el-button--success:focus{
	border-color: #67c23a;
	color: #FFFFFF;
}
/*除首页外其他页面完成、确认按钮结束/