body,h2 {
			margin: 0px;
		}
		html,body,#app {
			height: 100%;
		}
		.el-row {
			height: 100%;
		    &:last-child {
		      margin-bottom: 0;
		    }
		  }
		  .el-col {
		    border-radius: 4px;
		    height: 100%;
		  }
		  .bg-purple-dark {
		    background: #99a9bf;
		  }
		  .bg-purple {
		    background: #d3dce6;
		    background-image: url(../../images/loginbg.png);
		    background-size: 100% 100%;
		    position: relative;
		  }
		  .bg-purple-light {
		    width: 80%;
		    padding: 0 10% 0 10%;
		    position: relative;
		  }
		  .grid-content {
		    height: 100%;
		    min-height: 36px;
		  }
		  .row-bg {
		    padding: 10px 0;
		    background-color: #f9fafc;
		  }
		  .word {
		  	position: absolute;
		  	top: 70%;
		  	left: 10%;
		  	color: #FFFFFF;
		  }
		  .word h2 {
		  	font-size: 40px;
		  }
		  .word p {
		  	margin: 0;
		  }
		  .login-bt {
		  	width: 100%;
		  	background-color: #00a372;
		  	border-color: #00a372;
		  }
		  .bg-purple-light h2 {
		  	padding-top: 20%;
		  	font-size: 60px;
		  }
		  .bg-purple-light .ruleForm {
		  	margin-top: 20%;
		  }
		  .bg-purple-light .ruleForm input,.bg-purple-light .ruleForm button {
		  	border-radius: 4px;
		  }
		  .logo img{
		  	height: 100px;
		  	width: 200px;
		  }
		  .el-checkbox {
		  	float: left;
		  }
		  /*记住我更改为绿色主题*/
		  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
			    background-color: #00a372;
			    border-color: #00a372;
			}
			.el-checkbox__input.is-checked+.el-checkbox__label {
			    color: #00a372;
			}
		  .forget {
		  	margin: 0;
		  	float: right;
		  	color: #97e8df;
		  }
		  .login-footer {
		  	position:absolute;
			left:50%;
			bottom: 0;
			transform:translate(-50%);
		  }
		  .contact{
		  	text-align: center;
			font-size: 1em;
		  }
		  .contact a {
		  	color: #97e8df;
		  	border-bottom: 1px solid #97e8df;
		  }
		  .copyright{
		  	text-align: center;
			font-size: 0.5em;
			color: darkgray;
		  }